AI YouTube Animation Pipeline.json
{
  "name": "AI YouTube Animation Pipeline",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Merge status response with stored clip data\nconst statusData = $input.first().json;\nconst storedData = $('💾 Store Request ID1').item.json;\n\nreturn [{\n  json: {\n    status: statusData.status,\n    request_id: storedData.request_id,\n    clip_id: storedData.clip_id,\n    clip_prompt: storedData.clip_prompt,\n    video_title: storedData.video_title,\n    video_description: storedData.video_description,\n    video_tags: storedData.video_tags,\n    total_clips: storedData.total_clips\n  }\n}];"
      },
      "id": "6d3d8317-13cf-412e-b28c-9c1a99844f50",
      "name": "🔄 Merge Status + Clip Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get video file size for YouTube resumable upload header\nconst { execSync } = require('child_process');\n\nlet fileSize;\ntry {\n  fileSize = parseInt(execSync('stat -c%s /tmp/video_final.mp4').toString().trim());\n} catch(e) {\n  throw new Error('Could not read video file size. FFmpeg may have failed: ' + e.message);\n}\n\nif (!fileSize || fileSize < 1000) {\n  throw new Error(`Video file is missing or too small (${fileSize} bytes). Check FFmpeg output.`);\n}\n\nconst prevData = $('🎞️ Build FFmpeg Command1').item.json;\n\nreturn [{\n  json: {\n    file_size: fileSize,\n    video_title: prevData.video_title,\n    video_description: prevData.video_description,\n    video_tags: prevData.video_tags,\n    output_path: prevData.output_path\n  }\n}];"
      },
      "id": "dd530e27-5b41-41f9-a33b-ee31d8f9c1ed",
      "name": "📐 Get File Size",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Read video file as binary and attach it for the upload node\nconst { execSync } = require('child_process');\n\nlet binaryData;\ntry {\n  const videoBuffer = execSync('cat /tmp/video_final.mp4');\n  binaryData = await this.helpers.prepareBinaryData(\n    videoBuffer,\n    'video_final.mp4',\n    'video/mp4'\n  );\n} catch(e) {\n  throw new Error('Failed to read video file for upload: ' + e.message);\n}\n\nconst prevData = $input.first().json;\n\nreturn [{\n  json: {\n    upload_url: prevData.upload_url,\n    video_title: prevData.video_title\n  },\n  binary: {\n    video_data: binaryData\n  }\n}];"
      },
      "id": "07870870-95c5-4be4-a99f-d45bec10e214",
      "name": "📁 Read Video as Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        800
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "8c69a519-7b03-405f-99e8-abafde679a9a",
      "name": "⏰ Daily Schedule (9AM)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2512,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $credentials.geminiApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "878a149d-a318-472b-92a8-9a6bde2b3af4",
      "name": "✍️ Gemini: Generate Script & Prompts1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini response\nconst responseText = $input.first().json.candidates[0].content.parts[0].text;\n\n// Clean JSON — remove markdown code fences if Gemini adds them\nlet cleanJson = responseText\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/g, '')\n  .trim();\n\nlet concept;\ntry {\n  concept = JSON.parse(cleanJson);\n} catch(e) {\n  // Fallback concept if parsing fails\n  concept = {\n    title: \"Earth's Most Breathtaking Moments\",\n    description: \"Witness the raw beauty of our planet in stunning 4K.\",\n    tags: [\"nature\", \"earth\", \"4K\", \"cinematic\", \"shorts\"],\n    topic: \"Natural wonders of the world\",\n    clips: [\n      { id: 1, prompt: \"Cinematic aerial view of northern lights over snowy mountains, photorealistic, 4K, slow camera drift\" },\n      { id: 2, prompt: \"Massive ocean wave crashing in slow motion, golden hour light, photorealistic, 4K\" },\n      { id: 3, prompt: \"Time-lapse of volcanic lava flowing into ocean at night, glowing red, photorealistic, 4K\" },\n      { id: 4, prompt: \"Dense rainforest canopy from above, morning mist, sunbeams, photorealistic, 4K cinematic\" }\n    ]\n  };\n}\n\n// Ensure exactly 4 clips for ~20s total output\nconst clips = concept.clips.slice(0, 4);\n\n// Output each clip as a separate item for parallel processing\nreturn clips.map(clip => ({\n  json: {\n    clip_id: clip.id,\n    clip_prompt: clip.prompt,\n    video_title: concept.title,\n    video_description: concept.description,\n    video_tags: concept.tags,\n    video_topic: concept.topic,\n    total_clips: clips.length\n  }\n}));"
      },
      "id": "a5d31bfc-620b-44de-bd1d-062c50d56d67",
      "name": "🧩 Parse Script & Split Clips1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/wan-2.5/text-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $credentials.falApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "53a8242c-01f1-48a0-b177-942a344a6d05",
      "name": "🎬 fal.ai: Submit Clip Generation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "// Store request_id with clip info for polling\nconst item = $input.first().json;\nconst clipData = $('🧩 Parse Script & Split Clips1').item.json;\n\nif (!item.request_id) {\n  throw new Error('No request_id returned from fal.ai. Check your API key and endpoint.');\n}\n\nreturn [{\n  json: {\n    request_id: item.request_id,\n    clip_id: clipData.clip_id,\n    clip_prompt: clipData.clip_prompt,\n    video_title: clipData.video_title,\n    video_description: clipData.video_description,\n    video_tags: clipData.video_tags,\n    total_clips: clipData.total_clips,\n    status: 'submitted'\n  }\n}];"
      },
      "id": "9167bc01-c97c-47ec-ba66-6d769e5510a3",
      "name": "💾 Store Request ID1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        912
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "135321b2-ee0c-4c2b-a351-c679bfdfbd2d",
      "name": "⏳ Wait 30s for Generation1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        912
      ],
      "webhookId": "wait-gen-001"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/wan-2.5/text-to-video/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $credentials.falApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90bd8f5f-f7d6-4404-b959-b40493ac009c",
      "name": "🔍 Check Generation Status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        912
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "completed-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "def52141-a748-46f0-a8c2-44a85f0560b6",
      "name": "✅ Is Generation Done?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -528,
        912
      ]
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/wan-2.5/text-to-video/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $credentials.falApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f346617-e4ad-4f04-b769-e1b9024cf4c6",
      "name": "📥 Get Clip Result1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract video URL from fal.ai result\nconst result = $input.first().json;\nconst prevData = $('🔄 Merge Status + Clip Data').item.json;\n\n// fal.ai can return video URL at different paths depending on model version\nconst videoUrl = \n  result?.video?.url ||\n  result?.output?.video?.url ||\n  result?.videos?.[0]?.url ||\n  result?.output?.videos?.[0]?.url ||\n  '';\n\nif (!videoUrl) {\n  throw new Error(`No video URL found in fal.ai response for clip ${prevData.clip_id}. Response: ${JSON.stringify(result)}`);\n}\n\nreturn [{\n  json: {\n    clip_id: prevData.clip_id,\n    video_url: videoUrl,\n    video_title: prevData.video_title,\n    video_description: prevData.video_description,\n    video_tags: prevData.video_tags,\n    total_clips: prevData.total_clips\n  }\n}];"
      },
      "id": "6c7ff6bb-d2fd-43d9-8e13-1331142d6d01",
      "name": "🔗 Extract Video URL1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "9fe2186f-93bd-4cb9-b823-58af0672b34c",
      "name": "📦 Collect All Clips1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        256,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build FFmpeg command to download and stitch all clips\nconst clips = $input.first().json.data;\n\n// Sort clips by clip_id to maintain correct order\nclips.sort((a, b) => a.clip_id - b.clip_id);\n\nconst videoTitle = clips[0].video_title;\nconst videoDescription = clips[0].video_description;\nconst videoTags = clips[0].video_tags;\n\n// Build wget commands to download each clip\nconst downloadCmds = clips.map((clip, i) =>\n  `wget -q -O /tmp/clip_${String(i + 1).padStart(2, '0')}.mp4 \"${clip.video_url}\"`\n).join('\\n');\n\n// Build FFmpeg concat list content\nconst concatList = clips.map((_, i) =>\n  `file '/tmp/clip_${String(i + 1).padStart(2, '0')}.mp4'`\n).join('\\n');\n\n// Estimate total duration for audio fade (4 clips x 5s = ~20s)\nconst totalDuration = clips.length * 5;\nconst fadeStart = Math.max(totalDuration - 3, 1);\n\n// Full command pipeline:\n// 1. Download clips\n// 2. Concatenate with FFmpeg (copy streams, no re-encode for speed)\n// 3. Add background music with fade-out\n// 4. Cleanup temp files\nconst ffmpegCmd = [\n  `printf '${concatList.replace(/'/g, \"'\\\\''\")}' > /tmp/concat_list.txt`,\n  `ffmpeg -f concat -safe 0 -i /tmp/concat_list.txt -c copy /tmp/video_raw.mp4 -y`,\n  `ffmpeg -i /tmp/video_raw.mp4 -stream_loop -1 -i /opt/music/background.mp3 -map 0:v -map 1:a -shortest -af \"afade=t=out:st=${fadeStart}:d=3\" -c:v copy -c:a aac -b:a 128k /tmp/video_final.mp4 -y`,\n  `rm -f /tmp/clip_*.mp4 /tmp/concat_list.txt /tmp/video_raw.mp4`\n].join('\\n');\n\nreturn [{\n  json: {\n    download_commands: downloadCmds,\n    ffmpeg_command: ffmpegCmd,\n    video_title: videoTitle,\n    video_description: videoDescription,\n    video_tags: videoTags,\n    output_path: '/tmp/video_final.mp4',\n    clips_count: clips.length,\n    estimated_duration_seconds: totalDuration\n  }\n}];"
      },
      "id": "aa681417-f4d0-47e4-b0ab-b1863fc630a3",
      "name": "🎞️ Build FFmpeg Command1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        800
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.download_commands }}\n{{ $json.ffmpeg_command }}"
      },
      "id": "70ec3ae6-8ce8-4ffc-b601-115199f81afd",
      "name": "⚙️ Run FFmpeg on VPS1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        768,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "oAuth2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "X-Upload-Content-Length",
              "value": "={{ $json.file_size }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "cc732adf-7f75-4788-9871-acf0a5ad220b",
      "name": "📺 YouTube: Init Upload1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the resumable upload URL from YouTube's Location header\nconst response = $input.first().json;\n\n// When fullResponse=true, headers are at response.headers\nconst uploadUrl = \n  response.headers?.location ||\n  response.headers?.Location ||\n  '';\n\nif (!uploadUrl) {\n  throw new Error('No upload URL returned from YouTube. Check OAuth credentials and quota. Response: ' + JSON.stringify(response.headers));\n}\n\nconst videoTitle = $('📐 Get File Size').item.json.video_title;\n\nreturn [{\n  json: {\n    upload_url: uploadUrl,\n    video_title: videoTitle,\n    status: 'ready_to_upload'\n  }\n}];"
      },
      "id": "e5c13515-3bc2-4611-88e9-a00cd4ef6406",
      "name": "📤 Prepare Upload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        800
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "video_data",
        "options": {}
      },
      "id": "5c97e9b2-5ebb-4ea1-a1e8-69624826a4f7",
      "name": "🚀 YouTube: Upload Video1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const uploadResult = $input.first().json;\nconst title = $('📁 Read Video as Binary').item.json.video_title;\nconst videoId = uploadResult.id || 'unknown';\n\n// Cleanup temp file\nconst { execSync } = require('child_process');\ntry { execSync('rm -f /tmp/video_final.mp4'); } catch(e) { /* ignore */ }\n\nconsole.log(`Video uploaded: https://youtube.com/watch?v=${videoId}`);\n\nreturn [{\n  json: {\n    success: true,\n    video_id: videoId,\n    video_url: `https://youtube.com/watch?v=${videoId}`,\n    youtube_shorts_url: `https://youtube.com/shorts/${videoId}`,\n    title: title,\n    uploaded_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "64d9b396-bb44-4d67-8680-02a045b53160",
      "name": "✅ Done — Log Success1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        800
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "ccdd528b-70ca-4979-99c3-e87a91c70000",
      "name": "⏳ Wait 30s — Still Processing1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -528,
        1072
      ],
      "webhookId": "wait-retry-001"
    }
  ],
  "pinData": {},
  "connections": {
    "🔄 Merge Status + Clip Data": {
      "main": [
        [
          {
            "node": "✅ Is Generation Done?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📐 Get File Size": {
      "main": [
        [
          {
            "node": "📺 YouTube: Init Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📁 Read Video as Binary": {
      "main": [
        [
          {
            "node": "🚀 YouTube: Upload Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily Schedule (9AM)1": {
      "main": [
        [
          {
            "node": "✍️ Gemini: Generate Script & Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Gemini: Generate Script & Prompts1": {
      "main": [
        [
          {
            "node": "🧩 Parse Script & Split Clips1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧩 Parse Script & Split Clips1": {
      "main": [
        [
          {
            "node": "🎬 fal.ai: Submit Clip Generation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 fal.ai: Submit Clip Generation1": {
      "main": [
        [
          {
            "node": "💾 Store Request ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Store Request ID1": {
      "main": [
        [
          {
            "node": "⏳ Wait 30s for Generation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 30s for Generation1": {
      "main": [
        [
          {
            "node": "🔍 Check Generation Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Generation Status1": {
      "main": [
        [
          {
            "node": "🔄 Merge Status + Clip Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Is Generation Done?1": {
      "main": [
        [
          {
            "node": "📥 Get Clip Result1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏳ Wait 30s — Still Processing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get Clip Result1": {
      "main": [
        [
          {
            "node": "🔗 Extract Video URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Extract Video URL1": {
      "main": [
        [
          {
            "node": "📦 Collect All Clips1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Collect All Clips1": {
      "main": [
        [
          {
            "node": "🎞️ Build FFmpeg Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📺 YouTube: Init Upload1": {
      "main": [
        [
          {
            "node": "📤 Prepare Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Prepare Upload1": {
      "main": [
        [
          {
            "node": "📁 Read Video as Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 YouTube: Upload Video1": {
      "main": [
        [
          {
            "node": "✅ Done — Log Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 30s — Still Processing1": {
      "main": [
        [
          {
            "node": "🔍 Check Generation Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7032feab-8cbd-4918-af9f-7dfdabc77348",
  "meta": {
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "qyEmsdXUAhBaooGj",
  "tags": []
}