Answer Workflow (1).json
{
  "name": "Answer Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "answer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2721fcbb-e17e-4c8c-9eb1-ec1cabcdedc5",
      "name": "Webhook (answer)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1424,
        -560
      ],
      "webhookId": "225475c0-df5f-4b78-b55b-41c87eab23f4"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0] ?? { json: {}, binary: {} };\nconst body = item.json?.body ?? {};\n\n// Required fields from multipart form-data\nconst user_id = (body.user_id || '').toString();\nconst session_id = (body.session_id || '').toString();\n// const question_text = (body.question_text || '').toString();\n\n// question_id can arrive as string\nconst question_id_raw = body.question_id;\nconst question_id = typeof question_id_raw === 'number'\n  ? question_id_raw\n  : parseInt((question_id_raw || '').toString(), 10);\n\n// Find the uploaded audio binary key (prefer \"audio\")\nconst binaryKeys = item.binary ? Object.keys(item.binary) : [];\nconst audioKey = binaryKeys.includes('audio') ? 'audio' : (binaryKeys[0] || null);\n\n// Validation (no auth)\nconst errors = [];\nif (!user_id) errors.push('Missing user_id');\nif (!session_id) errors.push('Missing session_id');\n// if (!question_text) errors.push('Missing question_text');\nif (!Number.isFinite(question_id)) errors.push('Missing/invalid question_id');\nif (!audioKey) errors.push('Missing audio file');\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    user_id,\n    session_id,\n    question_id,\n    // question_text,\n    audioBinaryKey: audioKey,\n  },\n  binary: item.binary,\n}];"
      },
      "id": "ccd62630-060f-4692-848e-425bd5463725",
      "name": "Auth + Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c_valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            },
            {
              "id": "02100133-7549-4327-a3a6-3106b1bd5ff3",
              "leftValue": "={{ $json.valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "dd9b196a-47d4-4930-8562-fac931110f01",
      "name": "Is valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -976,
        -560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: ($json.errors && $json.errors.includes('Unauthorized')) ? 'Unauthorized' : 'Invalid request', details: $json.errors } }}",
        "options": {
          "responseCode": "={{ ($json.errors && $json.errors.includes('Unauthorized')) ? 401 : 400 }}",
          "enableStreaming": false
        }
      },
      "id": "3afa82b3-55db-4523-a04c-b53c89ccb120",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -752,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-transcribe"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "d29e3cfb-96fd-4c98-bbd2-49787e35b70d",
      "name": "Whisper Transcription (OpenAI HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -752,
        -656
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $('Auth + Normalize Input').item.json.session_id }}"
            }
          ]
        }
      },
      "id": "023910c0-fc5e-4cd7-8098-700340228d6b",
      "name": "Fetch Session Context (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -528,
        -656
      ],
      "credentials": {
        "supabaseApi": {
          "id": "euadBVKPMVmsS6HA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const norm = $items('Auth + Normalize Input')[0]?.json || {};\nconst whisper = $items('Whisper Transcription (OpenAI HTTP)')[0]?.json || {};\nconst session = items?.[0]?.json || {};\n\nconst transcript = String(whisper.text || whisper.transcript || '');\n\nconst extracted = session.extracted_data || {};\nconst questions = Array.isArray(session.questions) ? session.questions : [];\n\nconst qid = norm.question_id;\n\nconst matched = questions.find(q => String(q.id) === String(qid));\n\nreturn [{\n  json: {\n    user_id: norm.user_id || session.user_id || null,\n    transcript,\n    role_title: extracted.role_title || null,\n    seniority: extracted.seniority_level || null,\n    skills: extracted.top_5_skills || [],\n    question_text: norm.question_text || matched?.question || null,\n    ideal_keywords: matched?.ideal_keywords || [],\n    session_id: norm.session_id || session.session_id,\n    question_id: qid || null,\n  }\n}];"
      },
      "id": "6f0c1094-7891-4887-8672-654a82858523",
      "name": "Prepare Scoring Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -656
      ]
    },
    {
      "parameters": {
        "tableId": "answers",
        "dataToSend": "autoMapInputData"
      },
      "id": "9c397874-76ff-437a-8d73-012574fabe9c",
      "name": "Save Answer (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -656
      ],
      "credentials": {
        "supabaseApi": {
          "id": "euadBVKPMVmsS6HA",
          "name": "Supabase account 2"
        }
      },
      "notes": "Stores keywords_mentioned as JSONB if present."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "enableStreaming": false
        }
      },
      "id": "f6a6201d-3e25-4343-92aa-578a9170455a",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        -656
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert interview coach. Evaluate the candidate's answer based on the job description, the interview question, and their response.\n\nJob Description:\n{{ $('Fetch Session Context (Supabase)').item.json.jd_text }}\n\nInterview Question:\n{{ $json.question_text }}\n\nCandidate's Answer:\n{{ $json.transcript }}\n\nBased on the job description, extract the required role and skills yourself, then score the candidate's answer strictly and fairly.\n\nReturn ONLY a valid JSON object, no extra text, no markdown, no explanation:\n\n{\n\"score\": 1-10,\n\"feedback\": \"(2-3 sentences evaluating the answer in context of the job requirements)\",\n\"strength\": \"(one specific thing the candidate did well)\",\n\"improvement\": \"(one actionable suggestion to improve the answer)\",\n\"example_answer\": \"(a concise ideal sample answer tailored to the question and job requirements, using best practices like STAR if applicable)\",\n\"keywords_mentioned\": [\"keyword1\", \"keyword2\"],\n\"framework_used\": \"STAR|CIRCLES|None\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\nYou are a professional interview coach and hiring manager with expertise in evaluating candidate responses. Be specific, honest, and constructive. Return ONLY valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -656
      ],
      "id": "07b415b1-be30-42eb-9fc6-315a87b6a3bc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        -432
      ],
      "id": "ff90e7fa-3937-43b8-98da-23c25db81b30",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YseYOmzKnaCcd8bO",
          "name": "mock"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"score\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 10,\n      \"description\": \"Rating from 1 to 10\"\n    },\n    \"feedback\": {\n      \"type\": \"string\",\n      \"description\": \"2-3 sentences evaluating the answer in context of the job requirements\"\n    },\n    \"strength\": {\n      \"type\": \"string\",\n      \"description\": \"One specific thing the candidate did well\"\n    },\n    \"improvement\": {\n      \"type\": \"string\",\n      \"description\": \"One actionable suggestion to improve the answer\"\n    },\n    \"example_answer\": {\n      \"type\": \"string\",\n      \"description\": \"A concise ideal sample answer tailored to the question and job requirements, using best practices like STAR if applicable\"\n    },\n    \"keywords_mentioned\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"List of keywords mentioned in the answer\"\n    },\n    \"framework_used\": {\n      \"type\": \"string\",\n      \"enum\": [\"STAR\", \"CIRCLES\", \"None\"],\n      \"description\": \"Framework used in the answer\"\n    }\n  },\n  \"required\": [\n    \"score\",\n    \"feedback\",\n    \"strength\",\n    \"improvement\",\n    \"example_answer\",\n    \"keywords_mentioned\",\n    \"framework_used\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        -432
      ],
      "id": "03ecc8bb-f73f-4785-8298-d4551b3a5064",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json.output || {};\n  const question = item.json.questions?.[0] || {};\n\n  return {\n    json: {\n      score: data.score ?? null,\n      feedback: data.feedback ?? \"\",\n      strength: data.strength ?? \"\",\n      improvement: data.improvement ?? \"\",\n      framework_used: data.framework_used ?? \"\",\n\n      question_id: $('Fetch Session Context (Supabase)').first().json.questions[0].id,\n      question_text: $('Fetch Session Context (Supabase)').first().json.questions[0].question,\n      answered_at: new Date().toISOString(),\n      session_id: $('Fetch Session Context (Supabase)').first().json.session_id,\n      user_id: $('Fetch Session Context (Supabase)').first().json.user_id,\n      example_answer: $input.first().json.output.example_answer\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -656
      ],
      "id": "1550c0ff-8226-4f50-8df1-2e386a7bc354",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (answer)": {
      "main": [
        [
          {
            "node": "Auth + Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth + Normalize Input": {
      "main": [
        [
          {
            "node": "Is valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is valid?": {
      "main": [
        [
          {
            "node": "Whisper Transcription (OpenAI HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcription (OpenAI HTTP)": {
      "main": [
        [
          {
            "node": "Fetch Session Context (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Session Context (Supabase)": {
      "main": [
        [
          {
            "node": "Prepare Scoring Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scoring Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Answer (Supabase)": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Save Answer (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "45e20d1f-f319-4ce5-b4fc-f373c21e1a17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "yFbUANkbWqe1HsRh",
  "tags": []
}