converter.json
{
  "name": "converter",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -192
      ],
      "id": "3bbdce4b-2c9e-4402-9155-78f112952ffa",
      "name": "Telegram Trigger",
      "webhookId": "772815a3-0b66-474a-b9b6-3a6dbc9a0933",
      "credentials": {
        "telegramApi": {
          "id": "H298dmxsMNO5DHe7",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://145.223.83.141:8081/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=   {\n     \"url\": \"{{ $json.message.text }}\",\n     \"quality\": \"best\",\n     \"format\": \"mp3\",\n     \"auto_start\": true\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -192
      ],
      "id": "05682f7e-5a0b-4714-b4e5-e384843cbcde",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "http://145.223.83.141:8082/latest",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -192
      ],
      "id": "8b8822ed-91ed-42f1-9a6e-ee8b4999d704",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -192
      ],
      "id": "33a22787-b36e-4018-a470-1d851aa4835e",
      "name": "Send an audio file",
      "webhookId": "108da1ac-7dbd-457c-a2b2-249d27310e8d",
      "credentials": {
        "telegramApi": {
          "id": "H298dmxsMNO5DHe7",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.result.download_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -192
      ],
      "id": "fbc9ebb2-ac47-49c7-857c-6a38c94206da",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://145.223.83.141:8082/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.result.audio.file_name }}\",\n  \"exact\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        -288
      ],
      "id": "4e646502-1a27-486d-8d42-5ab093e34d1b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c8791b3-30ff-49fa-9e84-64443db59ebf",
              "leftValue": "={{ $json.result.download_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -192
      ],
      "id": "6fb7b40b-1c96-492e-9b01-43b0031dc892",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        -272
      ],
      "id": "6f91c801-49f5-4dd0-8aa0-dfa44c33cdc2",
      "name": "Wait",
      "webhookId": "81294ab4-c8b5-4f4e-ba8c-74ac7593c04a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        -192
      ],
      "id": "4860e0e2-dee0-4faf-852d-1d5c2b6a7c37",
      "name": "Wait1",
      "webhookId": "d18972aa-820d-4420-88f3-d6bf74156dd3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://145.223.83.141:8082/delete-history",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.result.audio.title }}\",\n  \"exact\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        -96
      ],
      "id": "7430e111-a7e4-4e99-9ea1-559b3c08a00b",
      "name": "HTTP Request4"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an audio file": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d281c1d-be88-41a1-8784-c7ae77dfe8df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "k457n5PtTVtlln33",
  "tags": []
}