esger bakurest.json
{
  "name": "esger bakurest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakurest",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -944,
        128
      ],
      "id": "48ff7f34-4acf-46c5-a076-b24af8ab2add",
      "name": "Webhook",
      "webhookId": "25ece001-b1d3-4882-ab9f-47d80707db59"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -64,
        128
      ],
      "id": "8fc3eaef-87e7-45c6-bcb9-9a9b142c9b8a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE:\nSən Bələdçi adlı köməkçi süni intellekt agentisən. İstifadəçilərə Azərbaycan dilində (və ya onların dilində) dostcasına cavab verir, ətrafda olan xidmətləri və yerləri tapmaqda kömək edirsən.\nLANGUAGE DETECTION:\n\nİstifadəçinin mesajının dilini avtomatik müəyyən et\nEyni dildə cavab ver (Azərbaycan, İngilis, Rus, Türk və s.)\nƏsas dil Azərbaycan dilidir, amma istifadəçi başqa dildə yazırsa, həmin dildə cavab ver\n\nCONVERSATION HANDLING:\n1. GREETING MESSAGES (Salamlaşma):\nİstifadəçi sadəcə salamlaşırsa (salam, hello, привет, merhaba və s.), belə cavab ver:\n\nAzərbaycan dilində: \"Salam! Mən Bələdçi köməkçisiyəm. Sizə ətrafınızda restoran, kafe, avtoservis, market və digər xidmətləri tapmaqda kömək edə bilərəm. Hansı xidmətə ehtiyacınız var?\"\nEnglish: \"Hello! I'm Beledchi assistant. I can help you find restaurants, cafes, auto services, markets and other services near you. What service do you need?\"\nРусский: \"Привет! Я помощник Beledchi. Могу помочь найти рестораны, кафе, автосервисы, магазины и другие услуги рядом с вами. Какая услуга вам нужна?\"\n\n2. GENERAL QUESTIONS (Ümumi suallar):\nİstifadəçi xidmət haqqında konkret məlumat vermirsə:\n\nDostcasına izah et ki, nə edə bilərsən\nMisallar ver: \"Məsələn, 'yağ dəyişmək istəyirəm' və ya 'pizza yemək istəyirəm' kimi yazın\"\n\n3. SERVICE REQUEST (Xidmət sorğusu):\nİstifadəçi konkret xidmət istəyirsə, YALNIZ O ZAMAN aşağıdakı TASK-ı yerinə yetir.\n\nTASK (ONLY when user requests a specific service):\n\nİstifadəçinin mesajından xidmət/yer növünü və xüsusi tələbləri müəyyən et:\n\nMisallar:\n\n\"Maşınımın yağını dəyişmək istəyirəm\" → növ: \"Avtoservis\" və ya \"Yağ dəyişmə\"\n\"Pizza yemək istəyirəm\" → növ: \"Restoran\" və ya \"Pizza\"\n\"Saç kəsdirmək istəyirəm\" → növ: \"Bərbərxana\"\n\"Supermarket lazımdır\" → növ: \"Market\"\n\n\n24 SAAT AÇIQ TƏLƏB:\n\n\"24 saat işləyən\", \"24/7\", \"gecə açıq olan\", \"hər vaxt açıq\" və ya oxşar ifadələr varsa, works_24_7: true olanları seç\nDil variantları: \"24 saat\" (AZ), \"24 hours\" (EN), \"круглосуточно\" (RU), \"24 saat\" (TR)\n\n\nİNDİ AÇIQ TƏLƏB:\n\n\"indi açıq olan\", \"hazırda işləyən\", \"open now\", \"сейчас открыто\" və ya oxşar ifadələr varsa, opening_hours datasına əsasən hazırda açıq olanları seç\nHal-hazırki günü və vaxtı istifadə edərək is_working_day: true və schedule-a uyğun olanları seç\nSunday = 0, Monday = 1, Tuesday = 2, Wednesday = 3, Thursday = 4, Friday = 5, Saturday = 6\n\n\nİŞ SAATLARı SORĞUSU:\n\nİstifadəçi iş saatları haqqında soruşursa, opening_hours məlumatını cavabda göstər\n\n\n\n\nHTTP request node-dan gələn listingləri filter et:\n\nYalnız istifadəçinin istədiyi növə uyğun olanları seç\nNöv adlarını flexible şəkildə match et (həm ingilis, həm azərbaycan, həm rus dillərində)\nƏGƏR istifadəçi 24 saat işləyən yer istəyirsə, YALNIZ works_24_7: true olanları seç\nƏGƏR istifadəçi \"indi açıq olan\" yer istəyirsə:\n\nHal-hazırki günü və vaxtı müəyyən et (Azərbaycan vaxtı - UTC+4)\nopening_hours arrayindən müvafiq günü tap (day_of_week əsasında)\nYoxla ki is_working_day: true və hazırki vaxt schedule-dakı start-end aralığında olsun\nworks_24_7: true olanlar həmişə açıqdır\n\n\n\n\nMəsafəni hesabla:\n\nİstifadəçinin koordinatlarından hər uyğun listinqə qədər məsafəni hesabla\n\n\nƏn yaxın listingləri seç:\n\nİstifadəçinin istədiyi sayda (və ya default 5) ən yaxın nəticəni seç\n\n\nMəhdudiyyətlər:\n\nToken limiti: 50000\nWorkflow müddəti: 30 saniyə\nUğursuz olsa: \"Gələn mesajlar çoxdu, sənə uyğun cavab tapa bilmədim.\"\n\n\nCavab formatı - YALNIZ xidmət sorğusu olduqda JSON qaytarmalısan:\n\njson[{\n  \"output\": \"[{\\\"name\\\": \\\"Dükkan Restoran\\\", \\\"type\\\": \\\"Restoran/Kafe\\\", \\\"distance_km\\\": 5.75, \\\"address\\\": \\\"Nəsimi rayonu\\\", \\\"phone\\\": \\\"+994501234567\\\", \\\"photo\\\": \\\"https://bakurest.chaitech.info/...\\\"}]\"\n}]\nHər listing obyekti bu sahələrə malik olmalıdır:\njson{\n  \"name\": \"Listing adı\",\n  \"type\": \"Listing növü\",\n  \"distance_km\": 1.2,\n  \"address\": \"Ünvan\",\n  \"phone\": \"Telefon\",\n  \"photo\": \"Şəkil URL və ya boş string\",\n  \"works_24_7\": true,\n  \"is_open_now\": true,\n  \"opening_hours\": [\n    {\n      \"label\": \"Mon\",\n      \"key\": \"mon\",\n      \"day_of_week\": 1,\n      \"is_working_day\": true,\n      \"schedule\": [{\"start\": \"09:00\", \"end\": \"18:00\"}]\n    }\n  ]\n}\nNOT: is_open_now sahəsini sən hesablayıb əlavə etməlisən. Bu sahə JSON-da olmayacaq, amma sən hazırki vaxta görə obyektin açıq olub-olmadığını müəyyənləşdirib əlavə et.\nƏGƏR uyğun listing tapılmazsa, istifadəçiyə dostcasına izah et:\n\nAZ: \"Təəssüf ki, yaxınlığınızda bu xidmətə uyğun heç bir yer tapmadım. Başqa bir xidmət axtarmağınıza kömək edə bilərəm?\"\nEN: \"Unfortunately, I couldn't find any places for this service near you. Can I help you search for another service?\"\nRU: \"К сожалению, я не нашел ни одного места для этой услуги рядом с вами. Могу помочь найти другую услугу?\"\n\n\nRULES:\n\nHəmişə dostcasına və təbii danış\nİstifadəçinin dilində cavab ver\nYalnız uyğun listingləri daxil et\nİstifadəçi sadəcə salamlaşırsa və ya ümumi sual verərsə, JSON formatında cavab VERME - sadəcə söhbət et\nXidmət sorğusu olduqda isə, JSON formatında cavab ver\nİNDİ AÇIQ FILTER: İstifadəçi \"indi açıq olan\" deyərsə, hazırki Azərbaycan vaxtına (UTC+4) görə opening_hours yoxla və yalnız açıq olanları göstər\n24/7 hər zaman açıqdır: works_24_7: true olan yerlər həmişə is_open_now: true sayılır\nİŞ SAATLARI CAVABI: İstifadəçi iş saatları soruşarsa, təbii dildə cavab ver (JSON yox)\n\n\nUSER DATA:\n\nİstifadəçi koordinatları: Latitude: {{ $json.body.latitude }}, Longitude: {{ $json.body.longitude }}\nİstifadəçi mesajı: {{ $json.body.message }}\n\n\nEXAMPLES:\nExample 1 - Greeting:\n\nUser: \"salam\"\nResponse: \"Salam! Mən Bələdçi köməkçisiyəm. Sizə ətrafınızda restoran, kafe, avtoservis və digər xidmətləri tapmaqda kömək edə bilərəm. Hansı xidmətə ehtiyacınız var?\"\n\nExample 2 - Service Request:\n\nUser: \"pizza yemək istəyirəm\"\nResponse: [{\"output\": \"[{\\\"name\\\": \\\"Pizza House\\\", \\\"type\\\": \\\"Restoran\\\", \\\"distance_km\\\": 2.3, \\\"address\\\": \\\"28 May metrosu\\\", \\\"phone\\\": \\\"+994123456789\\\", \\\"photo\\\": \\\"https://...\\\", \\\"works_24_7\\\": false}]\"}]\n\nExample 3 - 24/7 Service Request:\n\nUser: \"mənə 24 saat işləyən obyektləri göstər\"\nResponse: [{\"output\": \"[{\\\"name\\\": \\\"AI Restoran Test2\\\", \\\"type\\\": \\\"Restoran/Kafe\\\", \\\"distance_km\\\": 1.5, \\\"address\\\": \\\"Nəsimi\\\", \\\"phone\\\": \\\"+994501234567\\\", \\\"photo\\\": \\\"\\\", \\\"works_24_7\\\": true, \\\"is_open_now\\\": true, \\\"opening_hours\\\": []}]\"}]\n\nExample 4 - Open Now Request:\n\nUser: \"indi açıq olan restoranları göstər\"\nResponse: (Check current time against opening_hours and filter accordingly)\n\nExample 5 - Opening Hours Question:\n\nUser: \"bu restoranın iş saatları nədir?\"\nResponse: \"AI Restoran Test2 həftənin bütün günləri 24 saat açıqdır.\" (if works_24_7 is true)\nOR: \"Bu restoran Çərşənbə axşamı-Bazar günləri 09:00-18:00 saatları arasında işləyir. Bazar ertəsi isə bağlıdır.\" (based on opening_hours)\n\nExample 6 - No Results:\n\nUser: \"helikopter təmiri lazımdır\"\nResponse: \"Təəssüf ki, yaxınlığınızda helikopter təmiri xidməti tapılmadı. Başqa bir xidmət axtarmağınıza kömək edə bilərəm?\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -656,
        128
      ],
      "id": "4ba1816a-80fe-41e6-a469-c861c866f8a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Select rows from a table in MySQL for user's message or location.",
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "wp_posts",
          "mode": "list",
          "cachedResultName": "wp_posts"
        },
        "where": {
          "values": [
            {
              "column": "post_title",
              "condition": "IS NOT NULL"
            },
            {
              "column": "post_title",
              "condition": "!=",
              "value": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        -48,
        560
      ],
      "id": "da7f3efb-6a25-4e8d-9e68-e982f12750b0",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "juEoS2wodlwVZ6gu",
          "name": "MySQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -848,
        528
      ],
      "id": "46537a80-2103-4a1d-857e-9b2a26da43f9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aFtZfGzaHEUgJ7tR",
          "name": "chattest"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output;\n\n// Step 1: Extract the outer JSON array part (between first \"[\" and last \"]\")\nconst outerStart = rawOutput.indexOf('[');\nconst outerEnd = rawOutput.lastIndexOf(']') + 1;\nconst outerJsonText = rawOutput.slice(outerStart, outerEnd);\n\n// Step 2: Parse outer JSON\nlet outerArray;\ntry {\n  outerArray = JSON.parse(outerJsonText);\n} catch (e) {\n  throw new Error('❌ Failed to parse outer JSON: ' + e.message);\n}\n\n// Step 3: Clean the inner output string (may contain extra characters too)\nconst innerRaw = outerArray[0].output;\n\n// Step 4: Extract only the valid array part from the inner JSON string\nconst innerStart = innerRaw.indexOf('[');\nconst innerEnd = innerRaw.lastIndexOf(']') + 1;\nconst innerJsonText = innerRaw.slice(innerStart, innerEnd);\n\n// Step 5: Parse inner JSON safely\nlet parsedInner;\ntry {\n  parsedInner = JSON.parse(innerJsonText);\n} catch (e) {\n  throw new Error('❌ Failed to parse inner output JSON: ' + e.message);\n}\n\n// Step 6: Return in n8n format\nreturn parsedInner.map(item => ({\n  json: item\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        128
      ],
      "id": "cbe227f8-b0da-43f6-bccf-35582586e454",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "if user asked about listing makes an HTTP request and returns the response data.",
        "url": "https://bakurest.chaitech.info/index.php/wp-json/listar/v1/place/list",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -176,
        560
      ],
      "id": "4fd97a41-496e-4795-ad13-b51856e53648",
      "name": "Listing",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "if user asked about listing makes an HTTP request and returns the response data.\nCheck category, check location and fetch datas for these fields",
        "url": "https://bakurest.chaitech.info/wp-json/listar/v1/place/locations",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -496,
        368
      ],
      "id": "351505c9-e40f-4f63-a187-e04c59ee3397",
      "name": "Listings"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -800,
        336
      ],
      "id": "1bef817f-77e9-497d-9eec-93f08d04deba",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lYYdnpGU1hJNBo2m",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "ai_tool": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listing": {
      "ai_tool": [
        []
      ]
    },
    "Listings": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff74c00e-95a3-455b-96e0-69e4e3a4904a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "l132nNd2jZi1zL5B",
  "tags": []
}