My workflow 22.json
{
  "name": "My workflow 22",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        -32
      ],
      "id": "85f99600-9749-4da5-962e-0a44235956ee",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MnJ66eY5Mc01gA4m70vgVVCD4zknh5pc8VWEk_g6Cb4",
          "mode": "list",
          "cachedResultName": "influeceer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnJ66eY5Mc01gA4m70vgVVCD4zknh5pc8VWEk_g6Cb4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnJ66eY5Mc01gA4m70vgVVCD4zknh5pc8VWEk_g6Cb4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        160
      ],
      "id": "70a81915-7618-433a-aa1b-76c485b7fd1e",
      "name": "Read Used Topics",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bGo98N1Uu859lToR",
          "name": "Google Sheets account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "bbc2be38-81a8-43c7-ba0a-49a0755e8d9c",
      "name": "Collect All Rows",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a new unique influencer video idea. Here are ALL topics already created — you MUST NOT repeat any of these:\n\n{{ $json.data.map(row => row.video_topic).filter(Boolean).join('\\n') || 'None yet — this is the first video.' }}\n\nPick something completely different and generate the full Veo3 prompt now.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI that creates hyper-realistic cinematic video prompts for Google VEO3.\n\nYou are generating lifestyle videos for a consistent AI-generated blonde influencer girl. She must look IDENTICAL in every video — same face, same energy, authentic and natural.\n\nTHE GIRL (never changes across all videos):\n- Beautiful blonde woman, approximately 24 years old\n- Natural glowing skin, light natural makeup\n- Fit and athletic but not extreme — healthy lifestyle body\n- Warm genuine smile, approachable personality\n- Long blonde hair, sometimes in ponytail or loose\n- Always wearing stylish but casual lifestyle outfits appropriate to the activity\n- Never speaks directly to camera in a forced way — acts natural, authentic\n- Filmed like a real person living her life, not a commercial\n\nTHE SETTING:\n- Modern luxury apartment or beautiful house\n- Clean aesthetic interiors — white, beige, natural tones\n- Or outdoor lifestyle settings — park, gym, cafe, kitchen, beach walk\n- Always bright, well-lit, natural lighting or golden hour\n- Cinematic quality — looks like high-end lifestyle content\n\nSTEP 1 — Pick a video topic from these categories (you will receive a list of already used ones — pick something NOT on that list):\n\nFITNESS & HEALTH:\n- Morning yoga session in living room\n- Outdoor run in the park at sunrise\n- Home workout — abs and stretching\n- Pilates on balcony with city view\n- Healthy smoothie preparation after workout\n- Jumping rope in backyard\n\nFOOD & COOKING:\n- Making avocado toast for breakfast\n- Cooking healthy pasta dinner\n- Meal prep Sunday — 5 containers\n- Making acai bowl\n- Baking banana bread\n- Making coffee and croissant morning routine\n- Cooking stir fry vegetables\n\nLIFESTYLE & DAILY LIFE:\n- Morning skincare routine at bathroom mirror\n- Reading a book on a sunny balcony\n- Watering indoor plants\n- Journaling at a cozy desk\n- Online shopping haul unboxing\n- Cleaning and organizing the apartment\n- Making the bed and tidying bedroom\n\nOUTDOOR & SOCIAL:\n- Walking through a farmers market\n- Sitting at a cute cafe with latte\n- Walking dog in the park\n- Grocery shopping for healthy food\n- Evening sunset walk on beach\n- Picking flowers at a garden\n\nIf all of these are used, invent something new and authentic to a lifestyle influencer.\n\nSTEP 2 — Write the Veo3 prompt following ALL these rules:\n\nCAMERA STYLE:\n- Handheld cinematic feel — like a friend filming or self-filmed naturally\n- Medium shots and wide shots mostly — show the environment\n- Occasional close-up on hands, food, or details — never face close-up as main shot\n- Smooth slow movement — not shaky\n- Natural depth of field — background slightly soft\n- 9:16 vertical format\n\nVIDEO FEEL:\n- Authentic, warm, aspirational but not fake\n- Like a real day-in-the-life moment, not a staged ad\n- Golden hour or bright natural light always\n- Colors: warm tones, slightly desaturated — lifestyle aesthetic\n\nREQUIRED PROMPT STRUCTURE:\nOne single paragraph, 750-1500 characters, no line breaks, no headings.\nDescribe: the girl, what she is doing, the environment, camera movement, lighting, audio.\nInclude one natural quiet action or soft spoken moment.\nAudio: describe ambient sounds fitting the scene.\n\nDO NOT:\n- Make it look like an ad or commercial\n- Use overcast or dark lighting — always warm and bright\n- Show multiple people as main subjects\n- Name the girl\n- Add text or subtitles\n- Make poses feel forced or unnatural\n\nOutput ONLY a JSON object:\n{\n  \"video_topic\": \"short name of the chosen topic, e.g. Morning yoga session\",\n  \"video_category\": \"FITNESS / FOOD / LIFESTYLE / OUTDOOR\",\n  \"video_description\": \"1 sentence describing what happens in the video\",\n  \"veo3_prompt\": \"the full single-paragraph video prompt, 750-1500 characters, no line breaks\",\n  \"youtube_title\": \"viral YouTube title in Azerbaijani with emoji\",\n  \"youtube_caption\": \"viral caption with 1 emoji + 12 hashtags all lowercase (4 topic + 4 popular + 4 Azerbaijan trending)\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        240,
        160
      ],
      "id": "d20b5a92-14e2-44af-95bd-cd13e69773ed",
      "name": "Influencer Idea + Prompt Agent",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"video_topic\": \"Morning yoga session\",\n  \"video_category\": \"FITNESS\",\n  \"video_description\": \"The girl does a peaceful morning yoga flow in her bright living room.\",\n  \"veo3_prompt\": \"A beautiful blonde woman in her mid-twenties...\",\n  \"youtube_title\": \"Səhər yogası ilə gününə başla! 🧘‍♀️\",\n  \"youtube_caption\": \"Səhər yogası 🧘‍♀️ #yoga #fitness #sabahrutini #saglamliq #viral #trending #fyp #keşfet #baku #azerbaycan #trend #reels\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "id": "d213a9eb-70d6-473f-b111-5e3a891e5bdd",
      "name": "Influencer Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "nowbuzz"
            },
            {
              "id": "2",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-lite-generate-001"
            },
            {
              "id": "3",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "4",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "5",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.output.veo3_prompt }}"
            },
            {
              "id": "6",
              "name": "VIDEO_TOPIC",
              "type": "string",
              "value": "={{ $json.output.video_topic }}"
            },
            {
              "id": "7",
              "name": "VIDEO_CATEGORY",
              "type": "string",
              "value": "={{ $json.output.video_category }}"
            },
            {
              "id": "8",
              "name": "VIDEO_DESCRIPTION",
              "type": "string",
              "value": "={{ $json.output.video_description }}"
            },
            {
              "id": "9",
              "name": "YOUTUBE_TITLE",
              "type": "string",
              "value": "={{ $json.output.youtube_title }}"
            },
            {
              "id": "10",
              "name": "YOUTUBE_CAPTION",
              "type": "string",
              "value": "={{ $json.output.youtube_caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        160
      ],
      "id": "3eff045d-efd5-405a-ae3b-a4e7e81d9390",
      "name": "Set Video Variables",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.API_ENDPOINT }}/v1/projects/{{ $json.PROJECT_ID }}/locations/{{ $json.LOCATION }}/publishers/google/models/{{ $json.MODEL_VERSION }}:predictLongRunning",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"endpoint\": \"projects/nowbuzz/locations/us-central1/publishers/google/models/veo-3.0-generate-preview\",\n  \"instances\": [\n    {\n      \"prompt\": {{ JSON.stringify($json.TEXT_PROMPT) }}\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"9:16\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": \"8\",\n    \"personGeneration\": \"allow_all\",\n    \"addWatermark\": false,\n    \"includeRaiReason\": true,\n    \"generateAudio\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        160
      ],
      "id": "9a75451e-7ecc-487a-87a1-a014e5544096",
      "name": "Vertex AI — Veo3 Generate",
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        400
      ],
      "id": "a6612551-3ada-4b1d-9358-9c9430be558b",
      "name": "Wait 4 min",
      "webhookId": "inf-wait-4min-001",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Set Video Variables').item.json.API_ENDPOINT }}/v1/projects/{{ $('Set Video Variables').item.json.PROJECT_ID }}/locations/{{ $('Set Video Variables').item.json.LOCATION }}/publishers/google/models/{{ $('Set Video Variables').item.json.MODEL_VERSION }}:fetchPredictOperation",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        640
      ],
      "id": "8399063b-10da-4095-bbd1-8d649e774a49",
      "name": "Vertex AI — Fetch Result",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 60000,
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "video-ready-check",
              "leftValue": "={{ $json.response?.videos?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        640
      ],
      "id": "8c5469cb-ea5b-40ad-986f-37278295b623",
      "name": "Video Ready?",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        880
      ],
      "id": "f85682e6-5b54-4fb7-85e2-df1792f687f3",
      "name": "Wait 1 min retry",
      "webhookId": "inf-retry-wait-001",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        640
      ],
      "id": "94f7a21b-4162-4ca7-9906-15d5dc8d3f3d",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MnJ66eY5Mc01gA4m70vgVVCD4zknh5pc8VWEk_g6Cb4",
          "mode": "list",
          "cachedResultName": "influeceer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnJ66eY5Mc01gA4m70vgVVCD4zknh5pc8VWEk_g6Cb4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnJ66eY5Mc01gA4m70vgVVCD4zknh5pc8VWEk_g6Cb4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_topic": "={{ $('Set Video Variables').item.json.VIDEO_TOPIC }}",
            "video_category": "={{ $('Set Video Variables').item.json.VIDEO_CATEGORY }}",
            "video_description": "={{ $('Set Video Variables').item.json.VIDEO_DESCRIPTION }}",
            "youtube_title": "={{ $('Set Video Variables').item.json.YOUTUBE_TITLE }}",
            "youtube_caption": "={{ $('Set Video Variables').item.json.YOUTUBE_CAPTION }}",
            "creadet_at": "={{$now}}",
            "status": "done"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_topic",
              "displayName": "video_topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_category",
              "displayName": "video_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_description",
              "displayName": "video_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_title",
              "displayName": "youtube_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_caption",
              "displayName": "youtube_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creadet_at",
              "displayName": "creadet_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        880
      ],
      "id": "49465df8-20c7-43d0-9eab-5d2c5c8e5b5c",
      "name": "Save Topic to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bGo98N1Uu859lToR",
          "name": "Google Sheets account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "name": "=Influencer_{{ $('Set Video Variables').item.json.VIDEO_TOPIC.replace(/\\s+/g, '_') }}_{{ $now.toMillis() }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG",
          "mode": "list",
          "cachedResultName": "yout",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        880
      ],
      "id": "63b2d9f6-268d-468e-bc60-4f69d2b21004",
      "name": "Upload to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a77jcVR5YJZWe6zP",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Set Video Variables').item.json.YOUTUBE_TITLE }}",
        "regionCode": "AZ",
        "categoryId": "22",
        "options": {
          "description": "={{ $('Set Video Variables').item.json.YOUTUBE_CAPTION }}",
          "tags": "={{ $('Set Video Variables').item.json.YOUTUBE_CAPTION }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -96,
        1120
      ],
      "id": "89084cd7-5488-4648-9ede-30e8be0435eb",
      "name": "Upload to YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "mZBGi4H5IdiPgkwL",
          "name": "YouTube account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        -80
      ],
      "id": "0548e441-d7b4-48ae-81e8-271b98efb744",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SRoMn5qs8d7lguCY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "description": "Use the tool to think about something."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "2b0ee856-33d5-4300-a415-8f4190091ad9",
      "name": "Think",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1856,
        1888
      ],
      "id": "8e661353-60ab-42d6-8484-66ca5234dd77",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1856,
        1664
      ],
      "id": "b3126092-675e-472a-86fb-f3a4fa5af7b2",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1OJix9TO7x-CFQYIbyskrb6J6l6hiDuSx",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2128,
        1888
      ],
      "id": "1d208120-2845-4b1b-b2c8-022846ea3527",
      "name": "Download Reference Girl Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a77jcVR5YJZWe6zP",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64String = binaryData.toString('base64');\nreturn [\n  {\n    json: {\n      IMAGE_BASE64: base64String\n    },\n    binary: $input.item.binary\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        1888
      ],
      "id": "785f2534-44cd-4d6f-882e-2d5f42922c8e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_INFLUENCER_SHEET_ID",
          "mode": "list",
          "cachedResultName": "influencer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_INFLUENCER_SHEET_ID/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2640,
        1888
      ],
      "id": "90dd6d4f-a802-44a5-9739-029dc3c1e6c1",
      "name": "Read Used Topics1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bGo98N1Uu859lToR",
          "name": "Google Sheets account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2896,
        1888
      ],
      "id": "b5ea358d-4ba2-4270-9e93-05e59e5caaef",
      "name": "Collect All Rows1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-base64",
              "name": "IMAGE_BASE64",
              "type": "string",
              "value": "={{ $('Code in JavaScript').item.json.IMAGE_BASE64 }}"
            },
            {
              "id": "merge-data",
              "name": "used_topics",
              "type": "string",
              "value": "={{ $json.data.map(row => row.video_topic).filter(Boolean).join('\\n') || 'None yet' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        1888
      ],
      "id": "02f99b3e-e5b9-466b-b357-427c8aed85f7",
      "name": "Merge Base64 + Topics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a new unique influencer video idea. Here are ALL topics already created — you MUST NOT repeat any of these:\n\n{{ $json.used_topics }}\n\nPick something completely different and generate the full Veo3 prompt now.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI that creates hyper-realistic cinematic video prompts for Google VEO3.\n\nYou are generating lifestyle videos for a consistent AI-generated blonde influencer girl. A reference image of her face will be provided to Veo3 directly — your job is to write the prompt describing what she is DOING and the ENVIRONMENT around her.\n\nTHE GIRL (always reference her consistently — Veo3 will use the provided image for her face):\n- Beautiful blonde woman, approximately 24 years old\n- Natural glowing skin, light natural makeup\n- Fit and athletic but not extreme — healthy lifestyle body\n- Warm genuine smile, approachable personality\n- Long blonde hair, sometimes in ponytail or loose depending on activity\n- Always wearing stylish but casual lifestyle outfits appropriate to the activity\n- Acts natural and authentic — not posed or commercial\n- Filmed like a real person living her life\n\nTHE SETTING:\n- Modern luxury apartment or beautiful house\n- Clean aesthetic interiors — white, beige, natural tones\n- Or outdoor lifestyle settings — park, gym, cafe, kitchen, beach walk\n- Always bright, well-lit, natural lighting or golden hour\n- Cinematic quality — looks like high-end lifestyle content\n\nSTEP 1 — Pick a video topic from these categories (you will receive a list of already used ones — pick something NOT on that list):\n\nFITNESS & HEALTH:\n- Morning yoga session in living room\n- Outdoor run in the park at sunrise\n- Home workout — abs and stretching\n- Pilates on balcony with city view\n- Healthy smoothie preparation after workout\n- Jumping rope in backyard\n\nFOOD & COOKING:\n- Making avocado toast for breakfast\n- Cooking healthy pasta dinner\n- Meal prep Sunday — 5 containers\n- Making acai bowl\n- Baking banana bread\n- Making coffee and croissant morning routine\n- Cooking stir fry vegetables\n\nLIFESTYLE & DAILY LIFE:\n- Morning skincare routine at bathroom mirror\n- Reading a book on a sunny balcony\n- Watering indoor plants\n- Journaling at a cozy desk\n- Online shopping haul unboxing\n- Cleaning and organizing the apartment\n- Making the bed and tidying bedroom\n\nOUTDOOR & SOCIAL:\n- Walking through a farmers market\n- Sitting at a cute cafe with latte\n- Walking dog in the park\n- Grocery shopping for healthy food\n- Evening sunset walk on beach\n- Picking flowers at a garden\n\nIf all of these are used, invent something new and authentic to a lifestyle influencer.\n\nSTEP 2 — Write the Veo3 prompt following ALL these rules:\n\nCAMERA STYLE:\n- Handheld cinematic feel — like a friend filming or self-filmed naturally\n- Medium shots and wide shots mostly — show the environment\n- Occasional close-up on hands, food, or details\n- Smooth slow movement — not shaky\n- Natural depth of field — background slightly soft\n- 9:16 vertical format\n\nVIDEO FEEL:\n- Authentic, warm, aspirational but not fake\n- Like a real day-in-the-life moment\n- Golden hour or bright natural light always\n- Colors: warm tones — lifestyle aesthetic\n\nREQUIRED PROMPT STRUCTURE:\nOne single paragraph, 750-1500 characters, no line breaks, no headings.\nDescribe: what she is doing, the environment, camera movement, lighting, audio.\nInclude one natural quiet action or soft spoken moment.\nAudio: describe ambient sounds fitting the scene.\n\nDO NOT:\n- Make it look like an ad or commercial\n- Use overcast or dark lighting\n- Name the girl\n- Add text or subtitles\n- Make poses feel forced\n\nOutput ONLY a JSON object:\n{\n  \"video_topic\": \"short name of the chosen topic\",\n  \"video_category\": \"FITNESS / FOOD / LIFESTYLE / OUTDOOR\",\n  \"video_description\": \"1 sentence describing what happens in the video\",\n  \"veo3_prompt\": \"the full single-paragraph video prompt, 750-1500 characters, no line breaks\",\n  \"youtube_title\": \"viral YouTube title in Azerbaijani with emoji\",\n  \"youtube_caption\": \"viral caption with 1 emoji + 12 hashtags all lowercase (4 topic + 4 popular + 4 Azerbaijan trending)\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3408,
        1888
      ],
      "id": "ef88d708-c109-43f2-bf28-2fc4a4066905",
      "name": "Influencer Idea + Prompt Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"video_topic\": \"Morning yoga session\",\n  \"video_category\": \"FITNESS\",\n  \"video_description\": \"The girl does a peaceful morning yoga flow in her bright living room.\",\n  \"veo3_prompt\": \"A beautiful blonde woman in her mid-twenties...\",\n  \"youtube_title\": \"Səhər yogası ilə gününə başla! 🧘‍♀️\",\n  \"youtube_caption\": \"Səhər yogası 🧘‍♀️ #yoga #fitness #sabahrutini #saglamliq #viral #trending #fyp #keşfet #baku #azerbaycan #trend #reels\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3408,
        2128
      ],
      "id": "7e454dd1-57ad-44a8-b8c4-c084808b6308",
      "name": "Influencer Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "nowbuzz"
            },
            {
              "id": "2",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-lite-generate-001"
            },
            {
              "id": "3",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "4",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "5",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.output.veo3_prompt }}"
            },
            {
              "id": "6",
              "name": "VIDEO_TOPIC",
              "type": "string",
              "value": "={{ $json.output.video_topic }}"
            },
            {
              "id": "7",
              "name": "VIDEO_CATEGORY",
              "type": "string",
              "value": "={{ $json.output.video_category }}"
            },
            {
              "id": "8",
              "name": "VIDEO_DESCRIPTION",
              "type": "string",
              "value": "={{ $json.output.video_description }}"
            },
            {
              "id": "9",
              "name": "YOUTUBE_TITLE",
              "type": "string",
              "value": "={{ $json.output.youtube_title }}"
            },
            {
              "id": "10",
              "name": "YOUTUBE_CAPTION",
              "type": "string",
              "value": "={{ $json.output.youtube_caption }}"
            },
            {
              "id": "11",
              "name": "IMAGE_BASE64",
              "type": "string",
              "value": "={{ $('Code in JavaScript').item.json.IMAGE_BASE64 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3712,
        1888
      ],
      "id": "6f9a9afd-0a28-441a-8de4-536d4f6b7f6f",
      "name": "Set Video Variables1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.API_ENDPOINT }}/v1/projects/{{ $json.PROJECT_ID }}/locations/{{ $json.LOCATION }}/publishers/google/models/{{ $json.MODEL_VERSION }}:predictLongRunning",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"endpoint\": \"projects/nowbuzz/locations/us-central1/publishers/google/models/veo-3.0-generate-preview\",\n  \"instances\": [\n    {\n      \"prompt\": {{ JSON.stringify($json.TEXT_PROMPT) }},\n      \"image\": {\n        \"bytesBase64Encoded\": \"{{ $json.IMAGE_BASE64 }}\",\n        \"mimeType\": \"image/png\"\n      }\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"9:16\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": \"8\",\n    \"personGeneration\": \"allow_all\",\n    \"addWatermark\": false,\n    \"includeRaiReason\": true,\n    \"generateAudio\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        1888
      ],
      "id": "8fc3e8d5-2030-4004-b465-c02fda0ff125",
      "name": "Vertex AI — Veo3 Generate1",
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4016,
        2128
      ],
      "id": "bf4e09da-9af0-4173-bc03-e603f6815b20",
      "name": "Wait 4 min1",
      "webhookId": "inf-wait-4min-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Set Video Variables1').item.json.API_ENDPOINT }}/v1/projects/{{ $('Set Video Variables1').item.json.PROJECT_ID }}/locations/{{ $('Set Video Variables1').item.json.LOCATION }}/publishers/google/models/{{ $('Set Video Variables1').item.json.MODEL_VERSION }}:fetchPredictOperation",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        2368
      ],
      "id": "79fa8be0-cb0e-42e8-b717-583ae71e38f4",
      "name": "Vertex AI — Fetch Result1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 60000,
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "video-ready-check",
              "leftValue": "={{ $json.response?.videos?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3712,
        2368
      ],
      "id": "81419acd-46c2-4b91-a996-434575a3e0e9",
      "name": "Video Ready?1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3712,
        2608
      ],
      "id": "55d06766-ccba-4693-9971-a5a52c139d25",
      "name": "Wait 1 min retry1",
      "webhookId": "inf-retry-wait-001"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3408,
        2368
      ],
      "id": "8055f255-00f2-443e-9d4d-76c29c3551d2",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_INFLUENCER_SHEET_ID",
          "mode": "list",
          "cachedResultName": "influencer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_INFLUENCER_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_INFLUENCER_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_topic": "={{ $('Set Video Variables1').item.json.VIDEO_TOPIC }}",
            "video_category": "={{ $('Set Video Variables1').item.json.VIDEO_CATEGORY }}",
            "video_description": "={{ $('Set Video Variables1').item.json.VIDEO_DESCRIPTION }}",
            "youtube_title": "={{ $('Set Video Variables1').item.json.YOUTUBE_TITLE }}",
            "youtube_caption": "={{ $('Set Video Variables1').item.json.YOUTUBE_CAPTION }}",
            "created_at": "={{ $now.toISO() }}",
            "status": "done"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_topic",
              "displayName": "video_topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_category",
              "displayName": "video_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_description",
              "displayName": "video_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_title",
              "displayName": "youtube_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtube_caption",
              "displayName": "youtube_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3408,
        2608
      ],
      "id": "dd17584b-d849-40fd-83d8-26db59f42784",
      "name": "Save Topic to Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bGo98N1Uu859lToR",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "=Influencer_{{ $('Set Video Variables1').item.json.VIDEO_TOPIC.replace(/\\s+/g, '_') }}_{{ $now.toMillis() }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG",
          "mode": "list",
          "cachedResultName": "yout",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3104,
        2608
      ],
      "id": "9de90e3b-1d87-4649-9542-bdaf39dded46",
      "name": "Upload to Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a77jcVR5YJZWe6zP",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Set Video Variables1').item.json.YOUTUBE_TITLE }}",
        "regionCode": "AZ",
        "categoryId": "22",
        "options": {
          "description": "={{ $('Set Video Variables1').item.json.YOUTUBE_CAPTION }}",
          "tags": "={{ $('Set Video Variables1').item.json.YOUTUBE_CAPTION }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        3104,
        2848
      ],
      "id": "e1472215-206c-4f23-ac0f-a26ba9e87ec6",
      "name": "Upload to YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "mZBGi4H5IdiPgkwL",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3408,
        1648
      ],
      "id": "cf7f2bbd-a719-4449-a595-3adf96bb2f3d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SRoMn5qs8d7lguCY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Use the tool to think about something."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        3152,
        1648
      ],
      "id": "14ff759e-ec82-47f1-bc55-aaace56eb1dd",
      "name": "Think1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Used Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Used Topics": {
      "main": [
        [
          {
            "node": "Collect All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Rows": {
      "main": [
        [
          {
            "node": "Influencer Idea + Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Influencer Idea + Prompt Agent": {
      "main": [
        [
          {
            "node": "Set Video Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Influencer Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Influencer Idea + Prompt Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Variables": {
      "main": [
        [
          {
            "node": "Vertex AI — Veo3 Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI — Veo3 Generate": {
      "main": [
        [
          {
            "node": "Wait 4 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 min": {
      "main": [
        [
          {
            "node": "Vertex AI — Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI — Fetch Result": {
      "main": [
        [
          {
            "node": "Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Ready?": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1 min retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 min retry": {
      "main": [
        [
          {
            "node": "Vertex AI — Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Save Topic to Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Influencer Idea + Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Influencer Idea + Prompt Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Download Reference Girl Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Download Reference Girl Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Reference Girl Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read Used Topics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Used Topics1": {
      "main": [
        [
          {
            "node": "Collect All Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Rows1": {
      "main": [
        [
          {
            "node": "Merge Base64 + Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Base64 + Topics": {
      "main": [
        [
          {
            "node": "Influencer Idea + Prompt Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Influencer Idea + Prompt Agent1": {
      "main": [
        [
          {
            "node": "Set Video Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Influencer Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Influencer Idea + Prompt Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Variables1": {
      "main": [
        [
          {
            "node": "Vertex AI — Veo3 Generate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI — Veo3 Generate1": {
      "main": [
        [
          {
            "node": "Wait 4 min1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 min1": {
      "main": [
        [
          {
            "node": "Vertex AI — Fetch Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI — Fetch Result1": {
      "main": [
        [
          {
            "node": "Video Ready?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Ready?1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1 min retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 min retry1": {
      "main": [
        [
          {
            "node": "Vertex AI — Fetch Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Save Topic to Sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Drive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Influencer Idea + Prompt Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Influencer Idea + Prompt Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cce91396-2adc-4d9c-addb-5e94f312068a",
  "meta": {
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "pdXCPjqjZrCFiJI9",
  "tags": []
}