My workflow 16.json
{
  "name": "My workflow 16",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=user will ask for product price and about product. Use \"HTTP Request\" for info about product.\nUser message:  {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7a940dfc-8c9f-495f-94d5-7b4f967d3e39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        0
      ],
      "id": "9d61565d-2a4b-46f5-b504-3f8bf44cbaa2",
      "name": "When chat message received",
      "webhookId": "8a0f51c2-5f51-4d3e-9fe6-61037d78fd35"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "e350c291-4339-4238-b881-33798b1465c7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lYYdnpGU1hJNBo2m",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://az.siberianhealth.com/az/catalog/usages_small/2379/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        448,
        208
      ],
      "id": "0a2a1f1f-858c-45a5-bab5-d425f4f8db74",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://az.siberianhealth.com/az/actions-new/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        768,
        304
      ],
      "id": "13de4f65-34ff-428f-842b-9c6aad4ff039",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3822fe57-3b94-4aa6-990b-65cbefda2605",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "l0AIoiwAAJkcXQwm",
  "tags": []
}