My workflow 20.json
{
  "name": "My workflow 20",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paddle/webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0fcf0c00-1a83-4eed-b268-9667769b8d30",
      "name": "Webhook",
      "webhookId": "add72394-6890-498d-be6c-e3a221dd8efb"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.data.custom_data.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "7dfe019b-60cd-4198-a8b4-d6ef22581088",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "euadBVKPMVmsS6HA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "interview_credits",
              "fieldValue": "={{ $json.count }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        0
      ],
      "id": "92d49741-0bea-40bd-9049-c5a15758f50a",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "euadBVKPMVmsS6HA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var priceId = $('Webhook').first().json.body.data.items[0].price.id;\n\nif (\n  priceId === \"pri_01knc70s3dbk018hn9wc0ymnef\" ||\n  priceId === \"pri_01kmwz0dmb7e616qwhjqfnqgce\"\n) {\n  return {\n    \"isValid\" : true,\n    \"count\" : $input.first().json.interview_credits + 3,\n    \"email\" : $input.first().json.email\n   };\n}\n\nif (\n  priceId === \"pri_01kmwyzgq76ty0ygwermcvgpe9\" ||\n  priceId === \"pri_01knc72kfzfwax5g09av2esc46\"\n) {\n  return {\n    \"isValid\" : true,\n    \"count\" : $input.first().json.interview_credits + 5,\n    \"email\" : $input.first().json.email\n   };\n}\n\nreturn {\n  \"isValid\" : false\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "81046637-8b41-4f0b-81f0-021bd002f0ef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "26f121fc-704a-4e57-a060-e4225386d6dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Is Valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "47b48236-7831-45e2-a81c-471018266896",
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Is Not Valid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "5f471dbd-6203-41af-855c-84189f91ce83",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "has_purchased",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "fc73a370-4e7f-450a-8dd0-5f31d431ba3e",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "euadBVKPMVmsS6HA",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9a97b909-cf53-4d79-9cdf-faf417aa7260",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "HLKV5Yvot366PY9d",
  "tags": []
}