myworkflow (1).json
{
  "name": "myworkflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.scrape.do",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "487ae515a20e4ee2a33f3d9f562885147524055e868"
            },
            {
              "name": "url",
              "value": "=https://api.bina.az/alqi-satqi"
            },
            {
              "name": "js_render",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3056,
        32
      ],
      "id": "12ffb262-29b5-4f67-abaa-316e8dea4e5a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst seen = new Set();\nconst indices = [];\n\ndata.link.forEach((l, i) => {\n  if (!seen.has(l)) {\n    seen.add(l);\n    indices.push(i);\n  }\n});\n\nreturn [{\n  json: {\n    title: indices.map(i => data.title[i]),\n    qiymet: indices.map(i => data.qiymet[i]),\n    unvan: indices.map(i => data.unvan[i]),\n    link: indices.map(i => \"https://bina.az\" + data.link[i])\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        32
      ],
      "id": "a6366227-d2dd-4232-8f16-24da457f3b85",
      "name": "Clean Data1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "135je8kbQKA1Tswi4GoLNsO0cKhB_E7xiznrvfQo6998",
          "mode": "list",
          "cachedResultName": "turbi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/135je8kbQKA1Tswi4GoLNsO0cKhB_E7xiznrvfQo6998/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/135je8kbQKA1Tswi4GoLNsO0cKhB_E7xiznrvfQo6998/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "price": "={{ $json.price }}",
            "year": "={{ $json.year }}",
            "engine": "={{ $json.engine }}",
            "milage": "={{ $json.milage }}",
            "location": "={{ $json.location }}",
            "url": "={{ $json.url }}",
            "scraped_at": "={{ $json.scraped_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "engine",
              "displayName": "engine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "milage",
              "displayName": "milage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3728,
        -336
      ],
      "id": "7b3252d8-5808-42da-a3a6-221891e98d6c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ScUSjMh3duBMHbQZ",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json;\n\nif (!items.title || items.title.length === 0) {\n  return [];\n}\n\nconst results = items.title.map((title, i) => {\n  const yearKm = items.year_km?.[i] || '';\n  const parts = yearKm.split(',').map(s => s.trim());\n  \n  return {\n    title: title?.trim() || '',\n    price: items.price?.[i]?.trim() || '',\n    year: parts[0] || '',\n    engine: parts[1] || '',\n    mileage: parts[2] || '',\n    location: items.location?.[i]?.trim() || '',\n    url: 'https://turbo.az' + (items.listing_url?.[i] || ''),\n    scraped_at: new Date().toISOString()\n  };\n});\n\nreturn results.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        -336
      ],
      "id": "738e7b1c-4bf1-4a4e-8ce8-4f029fd85c95",
      "name": "Clean Data",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".products-i__name",
              "returnArray": true
            },
            {
              "key": "price",
              "cssSelector": ".products-i__price",
              "returnArray": true
            },
            {
              "key": "listing_url",
              "cssSelector": ".products-i__link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "year_km",
              "cssSelector": ".products-i__attributes",
              "returnArray": true
            },
            {
              "key": "location",
              "cssSelector": ".products-i__region",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3280,
        -336
      ],
      "id": "67d9417f-83ec-4aae-a365-97c2b580e166",
      "name": "HTML Extract",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.scrape.do",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "487ae515a20e4ee2a33f3d9f562885147524055e868"
            },
            {
              "name": "url",
              "value": "=https://turbo.az/autos?page=1"
            },
            {
              "name": "js_render",
              "value": "true"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3056,
        -336
      ],
      "id": "23874765-2de3-40d7-aa4c-e23eff69dee2",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2768,
        0
      ],
      "id": "c94c539a-6661-4cbc-9585-d25c285af9b8",
      "name": "Telegram Trigger",
      "webhookId": "3c42d9a9-c483-4e98-86e1-8ddb5c6ab0fa",
      "credentials": {
        "telegramApi": {
          "id": "q4ycLYyrWtuU4u4Z",
          "name": "real state"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4064,
        32
      ],
      "id": "b8d7c33e-51fb-47c6-96d0-a70e3cd10f1a",
      "name": "Send a text message",
      "webhookId": "9a3212ae-b2c5-42d9-a729-cfb9120764d0",
      "credentials": {
        "telegramApi": {
          "id": "q4ycLYyrWtuU4u4Z",
          "name": "real state"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3632,
        240
      ],
      "id": "61100c78-a52c-4ab6-b227-69a4e8d24351",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SRoMn5qs8d7lguCY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Sən Azərbaycanın əmlak bazarı üzrə Fırsat Detektorusan.\n\nTapşırıq:\n\nSənə göndərilən all_data içindəki hər bir fərqli ərazi üçün (məs: Ramana, Elmlər, Şüvəlan) ayrı-ayrı daxili ortalama qiymət hesabla.\n\nBir ərazidəki evi digər ərazinin qiymətləri ilə müqayisə etmə.\n\nHər ərazi üzrə ən yaxşı 1-2 fürsəti seç.\n\nÇıxış Formatı:\n🚀 [Ərazinin Adı] üzrə TOP TƏKLİF\n📍 [Dəqiq Ünvan]\n💰 Qiymət: [Məbləğ] AZN (Bu ərazi üçün ortalamadan [X]% ucuz)\n🔗 Link: [URL]\n\nANALİZ EDİLMƏLİ DATA:\n{{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3712,
        32
      ],
      "id": "791814b4-9db5-48d8-9ac3-5880ed427a8a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "elanlar",
              "cssSelector": ".items-i",
              "returnArray": true
            },
            {
              "key": "qiymet",
              "cssSelector": ".price-val"
            },
            {
              "key": "unvan",
              "cssSelector": ".location"
            },
            {
              "key": "link",
              "cssSelector": "a.item_link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3280,
        400
      ],
      "id": "556efd55-6b6e-4671-9666-efb176b82b56",
      "name": "HTML Extract1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".items-i .name",
              "returnArray": true
            },
            {
              "key": "qiymet",
              "cssSelector": ".price-val",
              "returnArray": true
            },
            {
              "key": "unvan",
              "cssSelector": ".card_params .location",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": "a.item_link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3312,
        64
      ],
      "id": "66ac6626-3ef6-4065-987f-1c2c53c30415",
      "name": "HTML Extract2"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML Extract2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        []
      ]
    },
    "HTML Extract2": {
      "main": [
        [
          {
            "node": "Clean Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3c3a46bb-8239-419a-88bb-c68b7e027931",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "rPmX8CA36RKjSrNqJ-y-v",
  "tags": []
}