sat forum.json
{
  "name": "sat forum",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sat/form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        0
      ],
      "id": "e9c957f8-3111-4170-8671-a3b2ad555dcf",
      "name": "Webhook",
      "webhookId": "8701e3c9-d130-433d-a474-e9b0e638c531"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        0
      ],
      "id": "ce5bac92-c685-4e20-8cd4-44e1917acf16",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fromEmail": "info@satgroup.az",
        "toEmail": "info@satgroup.az",
        "subject": "={{$json.data.attributes.type}} - {{$json.data.attributes.fullName}}",
        "html": "=<h3>New form submission</h3>\n<p><b>Full Name:</b> {{ $json.data.attributes.fullName }}</p>\n<p><b>Phone:</b> {{ $json.data.attributes.phoneNumber }}</p>\n<p><b>Email:</b> {{ $json.data.attributes.email }}</p>\n<p><b>Type:</b> {{$json.data.attributes.interestedCourses.data.map(c => c.attributes.name).join(', ') || 'N/A'}}</p>\n<p><b>Message:</b> {{ $json.data.attributes.message }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        32,
        0
      ],
      "id": "501dfb7c-3c5e-4384-be08-1a48013064b3",
      "name": "Send an Email",
      "webhookId": "9d74916b-5ce5-498b-a819-fcd8ea6dc5f8",
      "credentials": {
        "smtp": {
          "id": "1LXpFSCSYstrtSQ8",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-next.satgroup.az/api/messages/{{$json.body.entry.id}}?populate=interestedCourses",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        0
      ],
      "id": "98fe3c18-1a64-49ff-8b07-9852d032285b",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "975f2ca7-00ef-4396-8eba-016669349339",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "w4KdQFvT9UpgUfBi",
  "tags": []
}