sis rezerv telegram.json
{
  "name": "sis rezerv telegram",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "mime-check-001",
              "leftValue": "={{ $binary.data.mimeType }}",
              "rightValue": "image/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2656,
        -2496
      ],
      "id": "dfd1e4e0-8a04-4661-9c8c-b289b83d7105",
      "name": "Is Image?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3104,
        -2400
      ],
      "id": "6c0fed62-1e96-44de-83c3-290ad981abaa",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4752,
        -2256
      ],
      "id": "b3be3cfa-5fa4-4a34-a982-4c48f727b535",
      "name": "Telegram Trigger3",
      "webhookId": "e8db2abf-bf21-474e-8512-1bcd54b7f0ad",
      "credentials": {
        "telegramApi": {
          "id": "ysZlOSMsdtFmr7yl",
          "name": "Sis chat"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4528,
        -2032
      ],
      "id": "2b73b1fe-08c5-4b75-ac21-90d1131faf82",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "SRoMn5qs8d7lguCY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger3').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3328,
        -2208
      ],
      "id": "77e7023c-c5c6-404f-a07c-081fafc68f76",
      "name": "Send a text message3",
      "webhookId": "44dad87e-3abc-444e-b32e-82683ff386dd",
      "credentials": {
        "telegramApi": {
          "id": "ysZlOSMsdtFmr7yl",
          "name": "Sis chat"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this to check house availability. Requires 'check_in' and 'check_out' dates in YYYY-MM-DD format.",
        "url": "=https://sis.house/api/available-homes.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "check_in",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "check_out",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -4272,
        -2032
      ],
      "id": "f9a749ec-7c41-42cb-beb1-a29952886bd3",
      "name": "get_available_homes3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15odftWXLx-gw2FQQgiYBCtnoEAjOS-2IjCsslDmzowY",
          "mode": "list",
          "cachedResultName": "Sis chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15odftWXLx-gw2FQQgiYBCtnoEAjOS-2IjCsslDmzowY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15odftWXLx-gw2FQQgiYBCtnoEAjOS-2IjCsslDmzowY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger3').item.json.message.chat.id }}",
            "user_message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_message', ``, 'string') }}",
            "user_message_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_message_time', ``, 'string') }}",
            "ai_respones": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ai_respones', ``, 'string') }}",
            "response_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('response_time', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message_time",
              "displayName": "user_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_respones",
              "displayName": "ai_respones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_time",
              "displayName": "response_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -4144,
        -2032
      ],
      "id": "b624121f-e4e1-433e-ba05-13d3c88126c8",
      "name": "Append row in sheet in Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ScUSjMh3duBMHbQZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this when the user confirms they want to reserve a specific house. It returns a booking URL.",
        "url": "https://sis.house/api/reservation-url.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "home_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "check_in",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "check_out",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "adults",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "children",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "pets",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            },
            {
              "name": "extra_services",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -4016,
        -2032
      ],
      "id": "a737847f-3cfe-4424-a85f-7df8eb479439",
      "name": "get_reservation_link3"
    },
    {
      "parameters": {
        "url": "https://sis.house/api/additional-services.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -3888,
        -2032
      ],
      "id": "4d6b294f-ddb5-477c-a22a-f1eab07680e3",
      "name": "get extra services3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role\nYou are the official booking assistant for Sis House. \nGoal: Be extremely concise, proactive, and minimize the number of messages.\nTODAY IS: {{ $now.format('dddd, MMMM d, yyyy') }}.\n\nAlways use Memory to retrieve dates, house details, and guest counts.\n\nHouse Data, IDs & Amenities (CRITICAL)\nBütün evlərdə mövcud olan şərait (Amenities):\nAsılqan, Duş kabini, Elektrik çaydan, Hamam ləvazimatları, Kondisioner, Mətbəx bıçaqları, Ödənişsiz parkinq, Qab və qaşıq, Sabun, Soyuducu, Tualet kağızı, Dəsmallar, Duz və istiot, Əlavə yastıq və ədyallar, İsidici, Konserv açan, Mətbəx solfeti, Otağı qaranlıqlaşdıran pərdələr, Qab yuyan maye, Saç qurudan, Terrace, Yataq dəsti, Duş geli, Elektrik bişirmə paneli, Geyim dolabı, İsti su, Mələfələr, Mikrodalğalı soba, Piknik masası və stullar, Qazan və tava, Şampun, Tonqal yeri, Yemək masası, manqal, şiş, sac.\n\nEvlər və Tutum:\n\nYağmur (ID: 12): Maksimum 3 nəfər (2 böyük, 1 uşaq)\n\nKülək (ID: 11): Maksimum 3 nəfər (2 böyük, 1 uşaq)\n\nAy (ID: 10): Maksimum 6 nəfər (4 böyük, 2 uşaq)\n\nŞimşək (ID: 9): Maksimum 3 nəfər (2 böyük, 1 uşaq)\n\nDuman (ID: 8): Maksimum 4 nəfər (2 böyük, 2 uşaq)\n\nBulud (ID: 7): Maksimum 4 nəfər (2 böyük, 2 uşaq)\n\nGünəş (ID: 6): Maksimum 4 nəfər (2 böyük, 2 uşaq)\n\nFırtına (ID: 5): Maksimum 2 nəfər (2 böyük, 2 uşaq)\n\nPhoto Logic (STRICT)\nMüştəri evin şəklini istədikdə (hər hansı dildə və ya typo ilə):\n\nEvin ID-sini müəyyən et.\n\nHeç bir alət (tool) çağırma.\n\nYALNIZ bu formatda cavab ver: PHOTO::ID (Məs: PHOTO::10).\n\nCapacity & Filtering Logic\nMandatory Guest Count: Evlərin siyahısını göstərməzdən ƏVVƏL mütləq qonaq sayını soruş.\n\nSmart Skip: Yalnız böyük sayı deyilərsə, children=0 qəbul et.\n\nUpselling & Extra Services Logic\nTrigger: Tarix, ev və qonaq sayı bəlli olduqdan sonra get_extra_services çağır və xidmətləri təklif et.\n\nSamovar & Kömür: Əlavə olaraq müştəriyə 20 AZN qarşılığında Samovar çayı və kömür xidməti təklif et, müştəri sis house çatdıqda əməkdaşlara bildirərək əldə edə bilər.\nRestoran xidmətimiz mövcuddur otaqlara servis edilir.\n\nService Mapping: Müştəri xidmət seçdikdə onları mütləq ID:SAY formatında (məs: 1:2,3:1) birləşdir.\n\nReservation Logic (STRICT)\nget_reservation_link çağırmazdan əvvəl bunları təsdiqlə:\n\nhome_id: Numeric ID (5-12).\n\ncheck_in: YYYY-MM-DD.\n\ncheck_out: YYYY-MM-DD.\n\nadults / children / pets: Integer dəyərlər.\n\nTool Usage: Müştəri təsdiq verdikdə aləti çağır.\n\nNever Hallucinate: Özündən URL hazırlama. Alətin checkout_url dəyərini istifadə et.\n\nHTML Link: <a href=\"CHECKOUT_URL_HERE\">Rezervasiyanı tamamlamaq üçün bura klikləyin</a>.\n\n## Formatting & Strict Rules\nTelegram HTML Rules: YALNIZ <b>, <i> və <a> teqlərindən istifadə et.\nConcise Listing: • <b>[Ev Adı]</b> - [Qiymət] AZN.\nLogging: Hər mesajda google_sheets_tool mütləq istifadə edilməlidir.\n- **Price Calculation:** Evlərin siyahısını təqdim edərkən HƏMİŞƏ `total_price` sahəsindən istifadə et. Bu məbləğ rezervasiya olunacaq bütün müddəti əhatə edir.\n- **Telegram HTML Rules:** YALNIZ <b>, <i> və <a> teqlərindən istifadə et.\n- **Concise Listing:** Siyahını mütləq bu formatda göstər: \n  • <b>[Ev Adı]</b> - Cəmi: [total_price] AZN\n- **Logging:** Hər mesajda google_sheets_tool mütləq istifadə edilməlidir.\nConcise Listing: • <b>[Ev Adı]</b> - [Qiymət] AZN.\nLogging: Hər mesajda google_sheets_tool mütləq istifadə edilməlidir.\n##Əgər istifadəçi endirim haqqında soruşursa get_discounts çağır vı müştıriyə bildir.\n\nUser's message: {{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4224,
        -2256
      ],
      "id": "afb88d75-c629-4dda-bd46-7463ece4bc0c",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2bae1d6-91e0-49a9-b63c-12a181d62143",
              "leftValue": "={{ $json.output }}",
              "rightValue": "PHOTO::",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3552,
        -2256
      ],
      "id": "7ede6a2a-59f9-4030-9222-7e3c1fab05f4",
      "name": "If3"
    },
    {
      "parameters": {
        "jsCode": "// Extract house ID and chat_id from agent output\nconst output = $input.first().json.output;\nconst houseId = output.replace('PHOTO::', '').trim();\nconst chat_id = $('Telegram Trigger3').first().json.message.chat.id;\n\n// Build list of all URLs to attempt: base image + indexed images up to 20\nconst items = [];\n\n// First image (no index)\nitems.push({ json: { url: `https://sis.house/api/image/${houseId}`, chat_id, houseId, index: 0 } });\n\n// Indexed images /1 through /20\nfor (let i = 1; i <= 20; i++) {\n  items.push({ json: { url: `https://sis.house/api/image/${houseId}/${i}`, chat_id, houseId, index: i } });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        -2400
      ],
      "id": "f24e1029-1848-485d-a9e9-0f04a86d6024",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2880,
        -2496
      ],
      "id": "63787ba7-ac44-4bf9-b2e1-0f161331356c",
      "name": "Fetch House Image2"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Code in JavaScript3').first().json.chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2432,
        -2448
      ],
      "id": "829a819c-b15a-4994-8dfa-81fb27e61dd0",
      "name": "Send a photo message3",
      "webhookId": "d5fa14ee-2aa0-467c-b7c8-e202b1e89154",
      "credentials": {
        "telegramApi": {
          "id": "ysZlOSMsdtFmr7yl",
          "name": "Sis chat"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger3').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4400,
        -2032
      ],
      "id": "4fe31867-b058-413e-a97a-e94ec49c7faa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://sis.house/api/discounts.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -3760,
        -2032
      ],
      "id": "ae07a395-74ea-4db2-989f-3c0f8be3167b",
      "name": "get_discounts"
    }
  ],
  "pinData": {},
  "connections": {
    "Is Image?": {
      "main": [
        [
          {
            "node": "Send a photo message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Fetch House Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger3": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_available_homes3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_reservation_link3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get extra services3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch House Image2": {
      "main": [
        [
          {
            "node": "Is Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_discounts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a01e9850-b945-4574-a6e7-7ef7f47ba68e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "pLijP0vok4aW8ZJu",
  "tags": []
}