sis2.json
{
  "name": "sis2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        288
      ],
      "id": "b0c83c58-f1d1-4a39-8364-4853b7c11be5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://sis.house/api/todays-reservations.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        288
      ],
      "id": "46bc6e38-baf8-4ff9-9657-8ea480feca20",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "1086761194",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "e8997d2c-7510-4053-8e9c-544236ca9344",
      "name": "Send a text message",
      "webhookId": "e16d924b-0e08-4ba7-bf2d-3cbfe8119da3",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.data || '';\nif (!raw.trim()) {\n  return [{\n    text: '🌞 Bugünün rezervasiyaları:\\n\\n❌ Heç bir rezervasiya tapılmadı.'\n  }];\n}\nconst lines = raw.split('\\n').filter(l => l.trim());\nlet text = '🌞 Bugünün rezervasiyaları:\\n';\nlines.forEach((line) => {\n  const parts = line.split('|').map(p => p.trim());\n  const reservationId = parts[0] || '-';\n  const name = parts[1] || '-';\n  const phone = parts[2] || '-';\n  // parts[3] = email — skipped\n  const dates = parts[4] || '-';\n  const room = parts[5] || '-';\n  let qeyd = '';\n  let elave = '';\n  for (let i = 6; i < parts.length; i++) {\n    if (parts[i].startsWith('Qeyd:')) {\n      qeyd = parts[i].substring(5).trim();\n    } else if (parts[i].startsWith('Əlavə:') || parts[i].toLowerCase().startsWith('elave:')) {\n      elave = parts[i].replace(/^Əlavə:|^Elave:/i, '').trim();\n    }\n  }\n  text += `\\n──────────────\\n`;\n  text += `🧾 ${reservationId}\\n`;\n  text += `👤 ${name}\\n`;\n  text += `📞 ${phone}\\n`;\n  text += `📅 ${dates}\\n`;\n  text += `🏠 ${room}\\n`;\n  if (qeyd) text += `📝 Qeyd: ${qeyd}\\n`;\n  if (elave) text += `✨ Əlavə: ${elave}\\n`;\n});\nreturn [{ text }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        288
      ],
      "id": "8841ec95-55cb-4cf0-9d7c-9ecbea8a4f94",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "5513833049",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        384
      ],
      "id": "972713d2-10d6-46f4-ab25-6888360b6940",
      "name": "Send a text message1",
      "webhookId": "bd451e15-93d5-450b-85b0-91d7e96482fc",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "8398346440",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        192
      ],
      "id": "5e85ed0c-2ce0-4ae6-adaa-8f25c6558195",
      "name": "Send a text message2",
      "webhookId": "bd451e15-93d5-450b-85b0-91d7e96482fc",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "7110451854",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        576
      ],
      "id": "6401e467-fb32-4073-97eb-4993a4ccc252",
      "name": "Send a text message3",
      "webhookId": "bd451e15-93d5-450b-85b0-91d7e96482fc",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d86141d-0c9a-40d4-a5d0-f4aa4a5a13a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "i8TFT7N2j4ZlGKsE",
  "tags": []
}