sis3.json
{
  "name": "sis3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        96
      ],
      "id": "e8dc65f4-7365-4505-a24f-0ae38b190799",
      "name": "Telegram Trigger",
      "webhookId": "d166c085-3daf-4870-abca-9c1f8b4033bb",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://sis.house/api/todays-reservations.php?date={{ $json.message.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        -96
      ],
      "id": "6cf57636-5f08-46e1-927b-9104270244da",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.data || '';\n\n// 🛑 Empty response\nif (!raw.trim()) {\n  return [{\n    text: '🌞 Bugünün rezervasiyaları:\\n\\n❌ Heç bir rezervasiya tapılmadı.'\n  }];\n}\n\n// 🔹 Split each reservation by new line\nconst lines = raw.split('\\n').filter(l => l.trim());\n\nlet text = '🌞 Bugünün rezervasiyaları:\\n';\n\nlines.forEach((line) => {\n  // Format: Rezervasiya #ID | name | phone | email | dates | room | [Qeyd: ...] [| Əlavə: ...]\n  const parts = line.split('|').map(p => p.trim());\n\n  const reservationId = parts[0] || '-';\n  const name = parts[1] || '-';\n  const phone = parts[2] || '-';\n  const email = parts[3] || '-';\n  const dates = parts[4] || '-';\n  const room = parts[5] || '-';\n\n  // Parts 6+ can be: \"Qeyd: ...\" or \"Əlavə: ...\"\n  let qeyd = '';\n  let elave = '';\n  for (let i = 6; i < parts.length; i++) {\n    if (parts[i].startsWith('Qeyd:')) {\n      qeyd = parts[i].substring(5).trim();\n    } else if (parts[i].startsWith('Əlavə:') || parts[i].toLowerCase().startsWith('elave:')) {\n      elave = parts[i].replace(/^Əlavə:|^Elave:/i, '').trim();\n    }\n  }\n\n  text += `\n━━━━━━━━━━━━━━━━\n🧾 ${reservationId}\n👤 ${name}\n📞 ${phone}\n📧 ${email}\n📅 ${dates}\n🏠 ${room}\n`;\n  if (qeyd) text += `📝 Qeyd: ${qeyd}\\n`;\n  if (elave) text += `✨ Əlavə: ${elave}\\n`;\n});\n\nreturn [{ text }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -96
      ],
      "id": "9bcb6524-53a3-4639-9062-dc58f98e8a49",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -96
      ],
      "id": "4813447f-3802-408a-baf8-75f422481a71",
      "name": "Send a text message",
      "webhookId": "62d1a95d-2589-499a-853e-ba0b291c7de0",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6273ed08-9fe4-46b9-8fd6-ef9bf873936a",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "=1086761194",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "da0e19b6-60ac-42e2-9046-59652d7c04f8",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "8398346440",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7c6394a2-1ea7-4ec0-8855-dc57f87e7a02",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "5513833049",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "80fe298e-0af5-44ad-b121-ef7bb4166f72",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "7110451854",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        96
      ],
      "id": "5db9a441-2360-47f9-a068-4b980060ac2d",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Sizin buna icazəniz yoxdur :)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        192
      ],
      "id": "c4341ad3-b381-4092-94ce-92c6eb0562eb",
      "name": "Send a text message1",
      "webhookId": "8ab6ad6e-a423-47f3-a629-de4178e48153",
      "credentials": {
        "telegramApi": {
          "id": "tiKFldP2QbSKua9s",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "80f7e44e-5edd-4816-859b-dc150b976074",
              "leftValue": "={{ $json.message.text.charAt(0) }}",
              "rightValue": "R",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5c752c04-77c0-4997-a23c-3d20106b8d4c",
              "leftValue": "={{ $json.message.text.charAt(0) }}",
              "rightValue": "r",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        0
      ],
      "id": "d0d2c000-67dd-4bfb-bc24-24bb50a0f6ca",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "29fab6de-1fa2-4f35-b839-50763be7734a",
              "leftValue": "={{ $json.message.text.charAt(0) }}",
              "rightValue": "Y",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f45e440-23cb-4ba4-a5db-e666b62be6c9",
              "leftValue": "={{ $json.message.text.charAt(0) }}",
              "rightValue": "y",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        96
      ],
      "id": "b8bf86d0-ac82-46a7-92bc-10f8adea6713",
      "name": "If2"
    },
    {
      "parameters": {
        "url": "=https://sis.house/api/reservations-by-created-date.php?date={{ $json.cleanDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        96
      ],
      "id": "33f7a700-899b-4c61-8db7-707b9c71a44f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        96
      ],
      "id": "352560af-85f0-4e0a-8187-d4692e72d007",
      "name": "Send a text message2",
      "webhookId": "af8df5d4-c018-4359-ad2d-2b87f4bc1f8e",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.data || '';\n\n// 🛑 Empty response\nif (!raw.trim()) {\n  return [{\n    text: '🌞 Bugünün rezervasiyaları:\\n\\n❌ Heç bir rezervasiya tapılmadı.'\n  }];\n}\n\n// 🔹 Split each reservation by new line\nconst lines = raw.split('\\n').filter(l => l.trim());\n\nlet text = '🌞 Bugünün rezervasiyaları:\\n';\n\nlines.forEach((line) => {\n  // Format: Rezervasiya #ID | name | phone | email | dates | room | [Qeyd: ...] [| Əlavə: ...]\n  const parts = line.split('|').map(p => p.trim());\n\n  const reservationId = parts[0] || '-';\n  const name = parts[1] || '-';\n  const phone = parts[2] || '-';\n  const email = parts[3] || '-';\n  const dates = parts[4] || '-';\n  const room = parts[5] || '-';\n\n  // Parts 6+ can be: \"Qeyd: ...\" or \"Əlavə: ...\"\n  let qeyd = '';\n  let elave = '';\n  for (let i = 6; i < parts.length; i++) {\n    if (parts[i].startsWith('Qeyd:')) {\n      qeyd = parts[i].substring(5).trim();\n    } else if (parts[i].startsWith('Əlavə:') || parts[i].toLowerCase().startsWith('elave:')) {\n      elave = parts[i].replace(/^Əlavə:|^Elave:/i, '').trim();\n    }\n  }\n\n  text += `\n━━━━━━━━━━━━━━━━\n🧾 ${reservationId}\n👤 ${name}\n📞 ${phone}\n📧 ${email}\n📅 ${dates}\n🏠 ${room}\n`;\n  if (qeyd) text += `📝 Qeyd: ${qeyd}\\n`;\n  if (elave) text += `✨ Əlavə: ${elave}\\n`;\n});\n\nreturn [{ text }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        96
      ],
      "id": "4e45356d-757c-48c4-820c-8a953ccc0a15",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of $input.all()) {\n  const originalText = item.json.message.text;\n\n  // Check if text exists and starts with 'Y'\n  if (originalText && originalText.startsWith('Y')) {\n    // Remove the first character (index 0)\n    item.json.cleanDate = originalText.substring(1);\n  } else {\n    // Fallback if it doesn't start with Y\n    item.json.cleanDate = originalText;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        96
      ],
      "id": "51e87837-738e-47a4-8b8b-a891659cc154",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Giriş tarixləri üçün R(tarix), yaradılma tarixləri üçün Y(tarix). Məsələn: R2026-03-02.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        240
      ],
      "id": "f5109867-9a91-4c18-8a1e-f0e4005e6871",
      "name": "Send a text message3",
      "webhookId": "6ce72ebe-dccb-469f-9f44-fe835a76c389",
      "credentials": {
        "telegramApi": {
          "id": "pVdaeVLbRHaKcgGc",
          "name": "sis"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c4195e9a-92a9-49f8-8081-4ac23298935b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "szY9kAn99OSAJBbBrYnc3",
  "tags": []
}