Telegram AI Auto-Reply.json
{
  "name": "Telegram AI Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e158b4e8-8503-419d-90db-abd2ecbdd18b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        112
      ],
      "webhookId": "telegram-webhook-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23acfcb1-1830-4d7a-b0aa-5fa6017cd427",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "assign-002",
              "name": "user_name",
              "value": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }}",
              "type": "string"
            },
            {
              "id": "assign-003",
              "name": "user_message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "assign-004",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d6638f64-6440-4e4c-85fa-f08cf0da27be",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "sendAction"
      },
      "id": "c9eba43b-ff5d-467e-b9eb-d773efb0c421",
      "name": "Send Typing Action",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "webhookId": "1a3c7a54-35a3-4623-9422-65ad6c4767c4"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "id": "41da4001-d54f-4d7e-a10f-decff7ecf900",
      "name": "Claude AI",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message Data').item.json.chat_id }}",
        "text": "={{ $json.content[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a34bd4e9-4856-427c-a683-7de98a4f6d6d",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "webhookId": "e0f95ed4-7ec5-47e6-92f7-0103ed6d44c1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Sorry, I can only reply to text messages. Please send me a text!",
        "additionalFields": {}
      },
      "id": "1f5993f5-8fdb-4c00-b98c-41e35c192ec9",
      "name": "Non-Text Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ],
      "webhookId": "efadb920-0c6f-4644-926f-417e16e7536b"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text?": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non-Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Send Typing Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0bf2dcda-cd6e-46e9-8252-3c5cafddfab5",
  "meta": {
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "Ub3haZqYJ2zgMIvB",
  "tags": []
}