timesheet (1).json
{
  "name": "timesheet",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a database assistant.\n\nYou have access to a MySQL tool called:\n\"Select rows from a table in MySQL\"\nYou need to check user's prompt, in prompt we have name and surname, by these fields you need to use \"MySql1\" tool and select id(where status 1), after select id you need to use \"MySql2\" tool by id and select id(first record), after select id you need to use \"MySql3\" tool and select job_func_id(where status 1), after select job_func_id you need to use \"MySql4\" tool.\nUser prompt:\nCheck user's prompt always, all letters needs to be capital letters, if user's prompt not capital letters, change the prompt to capital letters.\n{{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        544,
        544
      ],
      "id": "e46bd364-cb13-446e-8a0c-e6cca14909be",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1136,
        544
      ],
      "id": "d7168092-1267-4d53-863e-dc65332a9095",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        288,
        112
      ],
      "id": "57e65390-aed2-4236-be34-ef081555f6e8",
      "name": "When chat message received",
      "webhookId": "355aeb55-203a-43f3-b103-45ceb0ac58aa"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        768
      ],
      "id": "6ed98519-354c-4b9d-bd3a-edccc31f3549",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "r77WvY5G9AnGALPa",
          "name": "Lincolin"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "com_project1",
          "mode": "list",
          "cachedResultName": "com_project1"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        928,
        768
      ],
      "id": "05b799c5-e82c-4ef3-ad11-c5b50ede574a",
      "name": "MySql5",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a database assistant.\n\nYou have access to a MySQL tool called:\n\"Select rows from a table in MySQL\"\nYou need to check user's prompt, in prompt we have name and surname, by these fields you need to use \"MySql1\" tool and select id(where status 1), after select id you need to use \"MySql2\" tool by id and select id(first record), after select id you need to use \"MySql3\" tool and select job_func_id(where status 1), after select job_func_id you need to use \"MySql4\" tool.\nUser prompt:\nCheck user's prompt always, all letters needs to be capital letters, if user's prompt not capital letters, change the prompt to capital letters.\n{{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "d8568d8e-b93e-49d9-aa79-ce0a764c2d52",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1232,
        112
      ],
      "id": "82f608eb-4e53-4d36-87eb-47693125c1e3",
      "name": "Respond to Webhook1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        224
      ],
      "id": "a303ac36-6620-4235-af35-74e7ac68aa65",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "r77WvY5G9AnGALPa",
          "name": "Lincolin"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_inf_emp_name",
          "mode": "list",
          "cachedResultName": "hr_inf_emp_name"
        },
        "where": {
          "values": [
            {
              "column": "name_nat",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            },
            {
              "column": "surname_nat",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        416,
        768
      ],
      "id": "05d3f2f2-09fa-4eb3-87f8-81a8706fd6f1",
      "name": "MySql1.1",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_adm_labor_contract",
          "mode": "list",
          "cachedResultName": "hr_adm_labor_contract"
        },
        "where": {
          "values": [
            {
              "column": "employee_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        544,
        768
      ],
      "id": "6df526dd-44dd-4259-928a-c99060c7d10a",
      "name": "MySql2.2",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_inf_emp_name",
          "mode": "list",
          "cachedResultName": "hr_inf_emp_name"
        },
        "where": {
          "values": [
            {
              "column": "name_nat",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            },
            {
              "column": "surname_nat",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        640,
        224
      ],
      "id": "eedf2582-fb28-4700-a22b-220afe99b7a2",
      "name": "MySql1",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_adm_labor_contract",
          "mode": "list",
          "cachedResultName": "hr_adm_labor_contract"
        },
        "where": {
          "values": [
            {
              "column": "employee_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        768,
        224
      ],
      "id": "910f70bf-267b-4d35-a063-e11f7581103f",
      "name": "MySql2",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_adm_job_function",
          "mode": "list",
          "cachedResultName": "hr_adm_job_function"
        },
        "where": {
          "values": [
            {
              "column": "contract_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        672,
        768
      ],
      "id": "8e295bb3-0301-4d37-831e-2fcdc6b67760",
      "name": "MySql3.3",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_tm_emp_timesheet",
          "mode": "list",
          "cachedResultName": "hr_tm_emp_timesheet"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        800,
        768
      ],
      "id": "ce6e285f-5408-4740-b240-1c13eaeab885",
      "name": "MySql4.4",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_adm_job_function",
          "mode": "list",
          "cachedResultName": "hr_adm_job_function"
        },
        "where": {
          "values": [
            {
              "column": "contract_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        896,
        224
      ],
      "id": "a53852b2-0dd7-40eb-82a2-fd844b4a392b",
      "name": "MySql3",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "hr_tm_emp_timesheet",
          "mode": "list",
          "cachedResultName": "hr_tm_emp_timesheet"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        1024,
        224
      ],
      "id": "d69fa46e-ba21-482b-9964-11f7951abf92",
      "name": "MySql4",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "mySql": {
          "id": "9LSNJm2Kvz0KTirR",
          "name": "Timesheet"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "MySql5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MySql1.1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySql2.2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySql1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySql2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySql3.3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySql4.4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySql3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySql4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52787095-c3ee-40b0-97ee-817d566d0f9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "sAcyEVLd2OGnlmOt",
  "tags": []
}