yout.json
{
  "name": "yout",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        1456
      ],
      "id": "c571d9aa-4ef0-4f3e-bd75-b62ad027cab4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aFtZfGzaHEUgJ7tR",
          "name": "chattest"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sseEndpoint": "http://145.223.83.141:3123/mcp/sse",
        "include": "selected",
        "includeTools": [
          "create-short-video"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        112,
        1456
      ],
      "id": "581c2637-1404-4f3e-a2f5-0c1796571e23",
      "name": "MCP Client",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        1232
      ],
      "id": "27fc6bf5-8c89-467e-b136-0880ef473baa",
      "name": "Wait",
      "webhookId": "fe4501f9-3334-4fc8-b3dd-83ea0ebb14a2",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6cc1bd80-2bb7-47b6-950e-be3d6a36a965",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1168
      ],
      "id": "196cd77f-c443-479a-8b90-d8cc76095311",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"videoId\": {\n            \"type\": \"string\",\n            \"description\": \"the id of the video\"\n        },\n        \"videoTitle\": {\n            \"type\": \"string\",\n            \"description\": \"the title of the video on Youtube\"\n        }\n    },\n    \"required\": [\n        \"videoId\",\n        \"videoTitle\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        240,
        1456
      ],
      "id": "cf2d0bcf-1965-45c9-8176-099fbe8b06a3",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=http://145.223.83.141:3123/api/short-video/{{ $('Generate video').item.json.output.videoId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        1120
      ],
      "id": "dec8e215-2a1e-45dc-bc3b-17b9aff1fa81",
      "name": "Download the video",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Generate video').item.json.output.videoTitle }}",
        "regionCode": "GB",
        "categoryId": "24",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1792,
        1024
      ],
      "id": "d6c75994-df5c-42ed-94b9-2c113e39d935",
      "name": "Share on YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "mZBGi4H5IdiPgkwL",
          "name": "YouTube account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Instruction>\nYou are a viral YouTube Shorts scriptwriter. Your job is to turn the given topic into a high-retention short video script optimized for maximum views and watch time.\n\nFollow this exact structure:\n\n1. HOOK (0-3 seconds)\n   - Start with a shocking fact, bold claim, or provocative question\n   - Must make the viewer stop scrolling immediately\n   - Example formats: \"Nobody talks about this...\", \"X things I wish I knew before...\", \"This changed everything about...\"\n\n2. BODY (3-45 seconds)\n   - Deliver value fast — one idea per sentence\n   - Use simple, conversational language (8th grade reading level)\n   - Short sentences only. No complex words.\n   - Build tension or curiosity throughout so viewer keeps watching\n   - Use transition phrases like \"But here's the thing...\", \"And it gets better...\", \"Wait for it...\"\n\n3. CALL TO ACTION (last 3 seconds)\n   - End with either: \"Follow for more\" OR a cliffhanger like \"Tomorrow I'll reveal...\"\n   - Never end abruptly\n\nAdditional rules:\n- Total script length: 60-90 words (fits ~45 seconds at normal TTS speed)\n- Write exactly as it will be spoken — no headers, no bullet points in the script itself\n- Avoid filler words like \"basically\", \"actually\", \"literally\"\n- Make every word earn its place\n\nAfter writing the script, also generate:\n- TITLE: A curiosity-driven YouTube title (max 60 chars, include a number if possible)\n- DESCRIPTION: 2 sentences summarizing the video + 1 call to action\n- TAGS: 5 relevant hashtags for this niche (comma separated)\n\nReturn the video ID and video title for the YouTube upload.\n</Instruction>\n\n<topic>\n{{ $json.message.text }}\n</topic>",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        48,
        1232
      ],
      "id": "a3ce40ef-fe94-4024-835e-05cf7208c4ff",
      "name": "Generate video",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=http://145.223.83.141:3123/api/short-video/{{ $('Generate video').item.json.output.videoId }}/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1168
      ],
      "id": "7699c29a-b31e-4093-aab9-09592d0e9c64",
      "name": "Check video status",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        1232
      ],
      "id": "3498605a-acbd-43ff-bd50-dac434567ccb",
      "name": "Telegram Trigger",
      "webhookId": "8f05dfa3-6666-4467-8b97-82226fbe7fc6",
      "credentials": {
        "telegramApi": {
          "id": "tDrTk1nI3IufMHSn",
          "name": "converter"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "1086761194",
        "text": "=https://www.youtube.com/watch?v={{ $json.uploadId }}\n\nVideonuz youtube yükləndi",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        1024
      ],
      "id": "20a4ad04-11b1-4fe4-9fa0-ddfe6499d35c",
      "name": "Send a text message",
      "webhookId": "521de190-c72c-41cc-ae30-b78902b569e1",
      "credentials": {
        "telegramApi": {
          "id": "tDrTk1nI3IufMHSn",
          "name": "converter"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "1086761194",
        "text": "Video yaradıldı, youtube'da publish etmək üçün hazrılanır",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        1120
      ],
      "id": "bb34da87-b3b6-48bb-94b4-d79c74cb747f",
      "name": "Send a text message3",
      "webhookId": "521de190-c72c-41cc-ae30-b78902b569e1",
      "credentials": {
        "telegramApi": {
          "id": "tDrTk1nI3IufMHSn",
          "name": "converter"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2480,
        -208
      ],
      "id": "36d4d3c9-f395-43c6-8e8f-66c8f571aed1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "aFtZfGzaHEUgJ7tR",
          "name": "chattest"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "http://145.223.83.141:3123/mcp/sse",
        "include": "selected",
        "includeTools": [
          "create-short-video"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -2352,
        -208
      ],
      "id": "aae492c4-6810-49bb-8d00-afb93e4ececb",
      "name": "MCP Client1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1792,
        -432
      ],
      "id": "b6560c4e-987a-44a5-85c9-ed15d18bce81",
      "name": "Wait1",
      "webhookId": "fe4501f9-3334-4fc8-b3dd-83ea0ebb14a2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6cc1bd80-2bb7-47b6-950e-be3d6a36a965",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1344,
        -496
      ],
      "id": "f412d9cf-9461-4dc7-9fce-8603085527ca",
      "name": "If1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"videoId\": {\n            \"type\": \"string\",\n            \"description\": \"the id of the video\"\n        },\n        \"videoTitle\": {\n            \"type\": \"string\",\n            \"description\": \"the optimized YouTube title (max 60 chars, curiosity-driven)\"\n        },\n        \"description\": {\n            \"type\": \"string\",\n            \"description\": \"2-sentence YouTube description summarizing the video + 1 call to action\"\n        },\n        \"tags\": {\n            \"type\": \"string\",\n            \"description\": \"5 relevant comma-separated hashtags for this niche\"\n        }\n    },\n    \"required\": [\n        \"videoId\",\n        \"videoTitle\",\n        \"description\",\n        \"tags\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2224,
        -208
      ],
      "id": "a4d4c70d-66e5-4324-aa00-ad5057f087aa",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "url": "=http://145.223.83.141:3123/api/short-video/{{ $('Generate video1').item.json.output.videoId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        -544
      ],
      "id": "b8d1e67e-3f62-4e88-a0e5-40e854303e91",
      "name": "Download the video1",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Generate video1').item.json.output.videoTitle }}",
        "regionCode": "GB",
        "categoryId": "24",
        "options": {
          "description": "={{ $('Generate video1').item.json.output.description }}",
          "tags": "={{ $('Generate video1').item.json.output.tags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -672,
        -640
      ],
      "id": "5666c0f5-c4ec-4ee0-a243-f344e70b0ce3",
      "name": "Share on YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "mZBGi4H5IdiPgkwL",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Instruction>\nYou are a viral YouTube Shorts scriptwriter. Your job is to turn the given topic into a high-retention short video script optimized for maximum views and watch time.\n\nFollow this exact structure:\n\n1. HOOK (0-3 seconds)\n   - Start with a shocking fact, bold claim, or provocative question\n   - Must make the viewer stop scrolling immediately\n   - Example formats: \"Nobody talks about this...\", \"X things I wish I knew before...\", \"This changed everything about...\"\n\n2. BODY (3-45 seconds)\n   - Deliver value fast — one idea per sentence\n   - Use simple, conversational language (8th grade reading level)\n   - Short sentences only. No complex words.\n   - Build tension or curiosity throughout so viewer keeps watching\n   - Use transition phrases like \"But here's the thing...\", \"And it gets better...\", \"Wait for it...\"\n\n3. CALL TO ACTION (last 3 seconds)\n   - End with either: \"Follow for more\" OR a cliffhanger like \"Tomorrow I'll reveal...\"\n   - Never end abruptly\n\nAdditional rules:\n- Total script length: 60-90 words (fits ~45 seconds at normal TTS speed)\n- Write exactly as it will be spoken — no headers, no bullet points in the script itself\n- Avoid filler words like \"basically\", \"actually\", \"literally\"\n- Make every word earn its place\n\nAfter writing the script, also generate:\n- TITLE: A curiosity-driven YouTube title (max 60 chars, include a number if possible)\n- DESCRIPTION: 2 sentences summarizing the video + 1 call to action\n- TAGS: 5 relevant hashtags for this niche (comma separated)\n\nReturn the video ID and video title for the YouTube upload.\n</Instruction>\n\n<topic>\n{{ $json.message.text }}\n</topic>",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2416,
        -432
      ],
      "id": "ded267a0-e3f5-4c30-8708-6cd03d22d402",
      "name": "Generate video1"
    },
    {
      "parameters": {
        "url": "=http://145.223.83.141:3123/api/short-video/{{ $('Generate video1').item.json.output.videoId }}/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        -496
      ],
      "id": "b213854e-105b-4937-b5ab-4c47f8610fe2",
      "name": "Check video status1",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2704,
        -432
      ],
      "id": "10a8875f-ad01-4da6-b4a5-9d50ec22b1e8",
      "name": "Telegram Trigger1",
      "webhookId": "8f05dfa3-6666-4467-8b97-82226fbe7fc6",
      "credentials": {
        "telegramApi": {
          "id": "tDrTk1nI3IufMHSn",
          "name": "converter"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=✅ Videonuz youtube yükləndi!\n\nhttps://www.youtube.com/watch?v={{ $json.uploadId }}\n\n📌 Başlıq: {{ $('Generate video1').item.json.output.videoTitle }}\n🏷️ Tags: {{ $('Generate video1').item.json.output.tags }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -640
      ],
      "id": "4301a214-85b0-487c-9a51-178b85409bc3",
      "name": "Send a text message1",
      "webhookId": "521de190-c72c-41cc-ae30-b78902b569e1",
      "credentials": {
        "telegramApi": {
          "id": "tDrTk1nI3IufMHSn",
          "name": "converter"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "🎬 Video yaradıldı, YouTube-da publish etmək üçün hazırlanır...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1120,
        -544
      ],
      "id": "ad4a9241-a1ae-4b76-a449-1e180cff3346",
      "name": "Send a text message4",
      "webhookId": "521de190-c72c-41cc-ae30-b78902b569e1",
      "credentials": {
        "telegramApi": {
          "id": "tDrTk1nI3IufMHSn",
          "name": "converter"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate video",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Generate video",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check video status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate video",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Download the video": {
      "main": [
        [
          {
            "node": "Share on YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check video status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share on YouTube": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "Download the video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate video1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "Generate video1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check video status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Generate video1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Download the video1": {
      "main": [
        [
          {
            "node": "Share on YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share on YouTube1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check video status1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Generate video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        [
          {
            "node": "Download the video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e52b07fe-fe31-4423-a6f9-015f6701971f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "b03HIHPaXTdkRtpd",
  "tags": []
}