yout auto 2(az).json
{
  "name": "yout auto 2(az)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        528,
        64
      ],
      "id": "0eb4406c-2965-4720-9290-1039cda22127",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "description": "Use the tool to think about something. It will not obtain new information or change the database but just append the thought to the log. Use it when complex reasoning or some cache memory is needed."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1632,
        352
      ],
      "id": "db1c0ae6-86dd-40f7-9cc1-960dc7729eb3",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Özün maraqlı, viral və ailə dostu bir mövzu seç (məsələn: gülməli bir heyvan, \nuydurma bir personaj, təbiət hadisəsi, fantastik bir varlıq və s.) \nvə həmin mövzu üçün bir video ideyası yarat.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You must generate ALL output strictly in Azerbaijani language. Every field (Caption, Idea, Environment) must be written in Azerbaijani.\n\nYou are an AI designed to generate 1 immersive, realistic idea based on a user-provided topic. Your output must be formatted as a JSON array (single line) and follow all the rules below exactly.\n\nRULES:\n\nOnly return 1 idea at a time.\n\nLast used idea:\n\"{{$json.idea}}\"\n\nChoose a topic completely different from this one. Do not use the same animal, character, or environment.\nRandom seed: {{ $now.toMillis() }}\n\nBefore generating the idea, first pick one creative topic from these categories:\n- A funny or unusual animal doing something unexpected\n- A mythical or fictional creature on a modern adventure\n- A natural phenomenon with a surprising twist\n- A historical figure in a modern situation\n- A robot or alien experiencing everyday life\n\nThe topic must be family-friendly, positive, and viral-worthy.\nNever repeat the same topic twice.\n\nThe user will provide a key topic (e.g. “urban farming,” “arctic survival,” “street food in Vietnam”).\n\nThe Idea must:\n\nBe under 13 words.\n\nDescribe an interesting and viral-worthy moment, action, or event related to the provided topic.\n\nCan be as surreal as you can get, doesn't have to be real-world!\n\nInvolves a character.\n\nThe Caption must be:\n\nShort, punchy, and viral-friendly.\n\nInclude one relevant emoji.\n\nInclude exactly 12 hashtags in this order:\n** 4 topic-relevant hashtags\n** 4 all-time most popular hashtags\n** 4 currently trending hashtags in Azerbaijan\n\nAll hashtags must be lowercase.\n\nSet Status to \"for production\" (always).\n\nThe Environment must:\n\nBe under 20 words.\n\nMatch the action in the Idea exactly.\n\nClearly describe:\n\nWhere the event is happening (e.g. rooftop, jungle trail, city alley, frozen lake)\n\nKey visuals or background details (e.g. smoke rising, neon lights, fog, birds overhead)\n\nMain participants (e.g. farmer, cook, mechanic, rescue team, animal)\n\nStyle of scene (e.g. cinematic realism, handheld docu-style, aerial tracking shot, macro close-up)\n\nOk with fictional settings\n\nOUTPUT FORMAT (single-line JSON array):\n\n\n[\n  {\n    \"Caption\": \"Short viral title with emoji #4_topic_hashtags #4_all_time_popular_hashtags #4_trending_hashtags\",\n    \"Idea\": \"Short idea under 13 words\",\n    \"Environment\": \"Brief vivid setting under 20 words matching the action\",\n    \"Status\": \"for production\"\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        896,
        64
      ],
      "id": "c17355fe-f674-4e20-8031-3462b0b4f371",
      "name": "Ideas AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Azerbaycan dilində Veo3 promptu ver bu ideya üçün:\n{{ $json.idea }}\n\nBu mühitdir:\n{{ $json.envoirment_prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You must write ALL video prompts strictly in Azerbaijani language.\n\nSYSTEM PROMPT FOR GOOGLE VEO3 PROMPT AGENT\n\nYou are an AI agent that writes hyper-realistic, cinematic video prompts for Google VEO3. Each prompt should describe a short, vivid selfie-style video clip featuring one unnamed character speaking or acting in a specific moment. The final video should look like found footage or documentary-style film — grounded, realistic, and immersive.\n\nREQUIRED STRUCTURE (FILL IN THE BRACKETS BELOW):\n\n[Scene paragraph prompt here]\n\nMain character: [description of character]\nThey say: [insert one line of dialogue, fits the scene and mood].\nThey [describe a physical action or subtle camera movement, e.g. pans the camera, shifts position, glances around].\nTime of Day: [day / night / dusk / etc.]\nLens: [describe lens]\nAudio: (implied) [ambient sounds, e.g. lion growls, wind, distant traffic, birdsong]\nBackground: [brief restatement of what is visible behind them]\n\nRULES FOR PROMPT GENERATION\n\nSingle paragraph only, 750–1500 characters. No line breaks or headings.\n\nOnly one human character. Never give them a name.\n\nInclude one spoken line of dialogue and describe how it’s delivered.\n\nCharacter must do something physical, even if subtle (e.g. glance, smirk, pan camera).\n\nUse selfie-style framing. Always describe the lens, stock, and camera behavior.\n\nScene must feel real and cinematic — like a short clip someone might record on a stylized camera.\n\nAlways include the five key technical elements: Time of Day, Lens, Film Stock, Audio, and Background.\n\nDO NOT DO THIS:\n\nDon’t name the character.\n\nDon’t include more than one character. \n\nDon't include any special characters.\n\nDon’t describe subtitles or on-screen text.\n\nDon’t break the paragraph or use formatting.\n\nDon’t write vague or abstract scenes — always keep them grounded in physical detail."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        32,
        336
      ],
      "id": "9261d610-962e-4b76-af51-debc064b6d5a",
      "name": "Prompts AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Status\": \"for production\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1072,
        352
      ],
      "id": "1761cb19-5648-4377-9401-d43072b1b88f",
      "name": "Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        352
      ],
      "id": "cbaef1f1-28cb-434b-b510-8fef7cbbe579",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SRoMn5qs8d7lguCY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "9be452db-7093-4cb6-aa30-809f6204fb05",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1104,
        688
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "d52292a6-93db-477c-8118-d8127fb81ef2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        480,
        688
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "name": "={{ $('Ideas AI Agent').item.json.output[0].Idea.replace(/\\s+/g, '_') + '_' + $now.toMillis() }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG",
          "mode": "list",
          "cachedResultName": "yout",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG"
        },
        "options": {}
      },
      "id": "b2e745fc-8eb8-423d-ade4-7542e95738ef",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1392,
        768
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a77jcVR5YJZWe6zP",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Part 1: Idea Generation",
        "height": 240,
        "width": 1364,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1cef0267-7fab-44f4-a438-f7a96d3d8107",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Part 2: Prompt Generation\n",
        "height": 240,
        "width": 1336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        272
      ],
      "typeVersion": 1,
      "id": "4353fffc-f54b-4569-8118-4ed4b6249566",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Part 3: Video Generation\n",
        "height": 352,
        "width": 1324,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        576
      ],
      "typeVersion": 1,
      "id": "5fe34f52-4a2e-4d15-9a46-cad4b6957083",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1d9QJBRYjV2xHe90IKyLR1XMODfGELMDJenJlVENJuhk",
          "mode": "list",
          "cachedResultName": "veo 3 <> n8n automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d9QJBRYjV2xHe90IKyLR1XMODfGELMDJenJlVENJuhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d9QJBRYjV2xHe90IKyLR1XMODfGELMDJenJlVENJuhk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "==ROW()-1",
            "caption": "={{ $json.output[0].Caption }}",
            "idea": "={{ $json.output[0].Idea }}",
            "envoirment_prompt": "={{ $json.output[0].Environment }}",
            "production": "={{ $json.output[0].Status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "envoirment_prompt",
              "displayName": "envoirment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        64
      ],
      "id": "00eadeb9-e518-49a0-b312-d2b74fe738e4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bGo98N1Uu859lToR",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Ideas AI Agent').item.json.output[0].Idea }}",
        "regionCode": "GB",
        "categoryId": "24",
        "options": {
          "description": "={{ $('Ideas AI Agent').item.json.output[0].Caption }}",
          "tags": "={{ $('Ideas AI Agent').item.json.output[0].Caption }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1392,
        608
      ],
      "id": "761be85c-1037-4a39-99d9-4dfbaea2951d",
      "name": "Share on YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "mZBGi4H5IdiPgkwL",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "nowbuzz"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-lite-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            }
          ]
        },
        "options": {}
      },
      "id": "ea8b0542-fd0a-4dac-bad3-bd2e629f0d73",
      "name": "Setting1",
      "type": "n8n-nodes-base.set",
      "position": [
        784,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.API_ENDPOINT }}/v1/projects/{{ $json.PROJECT_ID }}/locations/{{ $json.LOCATION }}/publishers/google/models/{{ $json.MODEL_VERSION }}:predictLongRunning",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"endpoint\": \"projects/n8n-project-440404/locations/us-central1/publishers/google/models/veo-3.0-generate-preview\",\n  \"instances\": [\n    {\n      \"prompt\": {{ JSON.stringify($json.TEXT_PROMPT) }}\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"9:16\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": \"8\",\n    \"personGeneration\": \"allow_all\",\n    \"addWatermark\": true,\n    \"includeRaiReason\": true,\n    \"generateAudio\": true\n  }\n}\n",
        "options": {}
      },
      "id": "6acff254-0625-460f-9267-8c5784417b8c",
      "name": "Vertex AI-VEO1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        688
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting1').item.json.API_ENDPOINT }}/v1/projects/{{ $('Setting1').item.json.PROJECT_ID }}/locations/{{ $('Setting1').item.json.LOCATION }}/publishers/google/models/{{ $('Setting1').item.json.MODEL_VERSION }}:fetchPredictOperation\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "b8a08560-44e6-40dc-a4ae-5d7aa25cceb9",
      "name": "Vertex AI-fetch1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        688
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        1360
      ],
      "id": "a4cb1ec9-84d1-4c16-b535-106028aa815d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        1616
      ],
      "id": "53a6109c-27ca-4952-a29e-28b47e9dc095",
      "name": "Split Episodes into Items"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        2320
      ],
      "id": "bd44afb0-48fb-4aef-b49a-38c216d20519",
      "name": "Wait 4 min",
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-video-exists",
              "leftValue": "={{ $json.response?.videos?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        2320
      ],
      "id": "25613dcb-b985-4dc2-a891-34373d5c37dd",
      "name": "Video Ready?"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        2512
      ],
      "id": "9f4c4c8e-dc2c-46b5-94c4-238d0a734a41",
      "name": "Wait 1 min retry",
      "webhookId": "retry-wait-webhook-001"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create a compelling 10-episode story arc now. Generate it fully.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a master storyteller. You must generate ALL output strictly in Azerbaijani language.\n\nCreate a serialized story about ONE unnamed man who lives in a house with a yard. Over 10 episodes, he secretly builds something extraordinary underground — a secret basement, bunker, underground room, hidden library, or any fascinating underground space. Each episode should:\n\n- Show real physical progress (digging, building, installing, decorating)\n- Include one surprising discovery or challenge per episode\n- Feel cinematic and viral-worthy\n- Build suspense — neighbors/family almost discover it\n- End with a cliffhanger or reveal that makes you want to watch the next episode\n\nThe story must have:\n- A consistent main character (never named)\n- A consistent location (suburban house with yard)\n- A clear goal that is revealed gradually\n- Emotional depth — why is he building this?\n\nOutput ONLY a JSON object:\n{\n  \"story_title\": \"Short viral title in Azerbaijani\",\n  \"story_summary\": \"2-3 sentence summary in Azerbaijani\",\n  \"underground_place\": \"What he is building (e.g. secret library, bunker, underground greenhouse)\",\n  \"character_motivation\": \"Why he is building it (1 sentence)\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        608,
        1296
      ],
      "id": "34f7f701-1b01-4d41-98fd-0f823c91a7c7",
      "name": "Story Arc Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"story_title\": \"Gizli Dünya\",\n  \"story_summary\": \"Bir adam öz evinin həyətində gizli bir dünya inşa edir.\",\n  \"underground_place\": \"secret underground library\",\n  \"character_motivation\": \"O, ailə sirrini qorumaq üçün bunu edir.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        864,
        1456
      ],
      "id": "4d48e89e-e342-4d91-8db5-01683926db67",
      "name": "Story Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this story arc, create exactly 10 episodes:\n\nStory Title: {{ $json.output.story_title }}\nSummary: {{ $json.output.story_summary }}\nUnderground place: {{ $json.output.underground_place }}\nMotivation: {{ $json.output.character_motivation }}\n\nGenerate all 10 episodes now.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI that creates 10 viral short-video episode scripts in Azerbaijani language.\n\nYou will receive a story arc about a man secretly building an underground place in his yard. Split it into exactly 10 episodes.\n\nEpisode progression must follow this arc:\n- Episodes 1-2: Discovery / Beginning (he starts digging, hides it from family)\n- Episodes 3-4: Real progress (structural work, problems arise)\n- Episodes 5-6: Almost discovered (neighbor, wife, child nearly finds out)\n- Episodes 7-8: The place takes shape (furnishing, atmosphere revealed)\n- Episodes 9: The big reveal teaser\n- Episode 10: Final reveal — someone sees it for the first time\n\nFor EACH episode output:\n- episode_number: 1 through 10\n- idea: under 13 words, describes the key action of this episode\n- caption: short viral title with 1 emoji + 12 hashtags (4 topic + 4 popular + 4 Azerbaijan trending), all lowercase\n- environment: under 20 words, cinematic scene description\n- story_context: 1 sentence explaining what happened in previous episodes (for continuity)\n- status: always 'for production'\n\nOutput ONLY a valid JSON array of 10 objects:\n[\n  {\n    \"episode_number\": 1,\n    \"idea\": \"...\",\n    \"caption\": \"...\",\n    \"environment\": \"...\",\n    \"story_context\": \"...\",\n    \"status\": \"for production\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1136,
        1296
      ],
      "id": "77dca852-6f6a-463d-bbc0-0dc8662096d9",
      "name": "Episode Splitter Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"episode_number\": 1,\n    \"idea\": \"Adam həyətdə gizli qazıntıya gecə başlayır\",\n    \"caption\": \"Gizli Başlanğıc 🕳️ #gizliyer #inşaat #sirr #həyət #viral #trending #fyp #keşfet #baku #azerbaycan #trend #reels\",\n    \"environment\": \"Moonlit backyard, man digging alone, cinematic wide shot\",\n    \"story_context\": \"Bu birinci epizoddu, hər şey indi başlayır.\",\n    \"status\": \"for production\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1168,
        1616
      ],
      "id": "ea0f7426-73c6-4e0c-9380-ca92d1e64043",
      "name": "Episode Parser1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16Hb10rYP39KQ4BXcAmST3O5sq2DtMd8f80XsROWV120",
          "mode": "list",
          "cachedResultName": "building",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Hb10rYP39KQ4BXcAmST3O5sq2DtMd8f80XsROWV120/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Hb10rYP39KQ4BXcAmST3O5sq2DtMd8f80XsROWV120/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "episode_number": "={{ $json.episode_number }}",
            "idea": "={{ $json.idea }}",
            "caption": "={{ $json.caption }}",
            "envoirment_prompt": "={{ $json.environment }}",
            "story_context": "={{ $json.story_context }}",
            "production": "={{ $json.status }}"
          },
          "matchingColumns": [
            "episode_number"
          ],
          "schema": [
            {
              "id": "episode_number",
              "displayName": "episode_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "envoirment_prompt",
              "displayName": "envoirment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "story_context",
              "displayName": "story_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        1616
      ],
      "id": "40399237-b2d4-4a1b-8508-d25796d6d394",
      "name": "Save All Episodes to Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bGo98N1Uu859lToR",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        2112
      ],
      "id": "268293e7-d1c6-4dff-b37c-071eefe9a1de",
      "name": "Process One Episode at a Time1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "nowbuzz"
            },
            {
              "id": "2",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-lite-generate-001"
            },
            {
              "id": "3",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "4",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "5",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "6",
              "name": "EPISODE_NUMBER",
              "type": "string",
              "value": "={{ $('Process One Episode at a Time1').item.json.episode_number }}"
            },
            {
              "id": "7",
              "name": "EPISODE_IDEA",
              "type": "string",
              "value": "={{ $('Process One Episode at a Time1').item.json.idea }}"
            },
            {
              "id": "8",
              "name": "EPISODE_CAPTION",
              "type": "string",
              "value": "={{ $('Process One Episode at a Time1').item.json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        2112
      ],
      "id": "0fe6a8a8-1208-460b-8356-22d7ad3971c3",
      "name": "Set Episode Variables1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.API_ENDPOINT }}/v1/projects/{{ $json.PROJECT_ID }}/locations/{{ $json.LOCATION }}/publishers/google/models/{{ $json.MODEL_VERSION }}:predictLongRunning",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"endpoint\": \"projects/nowbuzz/locations/us-central1/publishers/google/models/veo-3.0-generate-preview\",\n  \"instances\": [\n    {\n      \"prompt\": {{ JSON.stringify($json.TEXT_PROMPT) }}\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"9:16\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": \"8\",\n    \"personGeneration\": \"allow_all\",\n    \"addWatermark\": true,\n    \"includeRaiReason\": true,\n    \"generateAudio\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        2112
      ],
      "id": "92d7bad7-b77a-4a5d-ac88-5431dbc6e1d7",
      "name": "Vertex AI — Veo3 Generate1",
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Set Episode Variables1').item.json.API_ENDPOINT }}/v1/projects/{{ $('Set Episode Variables1').item.json.PROJECT_ID }}/locations/{{ $('Set Episode Variables1').item.json.LOCATION }}/publishers/google/models/{{ $('Set Episode Variables1').item.json.MODEL_VERSION }}:fetchPredictOperation",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        2320
      ],
      "id": "bd84c7ee-7fa2-4f59-9359-e80f758e9291",
      "name": "Vertex AI — Fetch Result1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 60000,
      "credentials": {
        "googleApi": {
          "id": "kWBnbuAsQ8pii1Dd",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        2320
      ],
      "id": "b3c9119b-b560-4419-a8dd-3efcbb53fae9",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "name": "=Episode_{{ $('Set Episode Variables1').item.json.EPISODE_NUMBER }}_{{ $('Set Episode Variables1').item.json.EPISODE_IDEA.replace(/\\s+/g, '_') }}_{{ $now.toMillis() }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG",
          "mode": "list",
          "cachedResultName": "yout",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1j1Idp63oxZhxSC6UfSJrYUqiYSPZzaoG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        752,
        2512
      ],
      "id": "11aa90b7-392e-4de1-9d2e-306c4ed49b6b",
      "name": "Upload to Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a77jcVR5YJZWe6zP",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "=Episode {{ $('Set Episode Variables1').item.json.EPISODE_NUMBER }}: {{ $('Set Episode Variables1').item.json.EPISODE_IDEA }}",
        "regionCode": "GB",
        "categoryId": "24",
        "options": {
          "description": "={{ $('Set Episode Variables1').item.json.EPISODE_CAPTION }}",
          "tags": "={{ $('Set Episode Variables1').item.json.EPISODE_CAPTION }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1056,
        2704
      ],
      "id": "3d99d789-7a58-48a7-b26e-b344bff02d08",
      "name": "Upload to YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "mZBGi4H5IdiPgkwL",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a Veo3 video prompt in Azerbaijani for this episode:\n\nEpisode {{ $json.episode_number }}: {{ $json.idea }}\n\nScene environment: {{ $json.envoirment_prompt }}\n\nStory context (what happened before): {{ $json.story_context }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You must write ALL video prompts strictly in Azerbaijani language.\n\nYou are an AI agent that writes hyper-realistic, cinematic video prompts for Google VEO3. \nYou are generating episodes of a SERIALIZED STORY about ONE unnamed man who secretly \nbuilds an extraordinary underground basement beneath the yard of his large luxury home.\n\nVISUAL BIBLE — every single prompt must respect these rules:\n\nSETTING (never changes across all 10 episodes):\n- Large modern luxury house, white exterior, floor-to-ceiling glass windows, \n  flat roof, 2-3 floors, wide stone staircase on the left side\n- Enormous well-manicured yard — green grass, trimmed hedges, stone tile driveway\n- Background: green forested hills or mountains\n- Weather: ALWAYS bright sunny day, clear blue sky, golden sunlight casting sharp shadows\n- Camera style: ALWAYS wide establishing shot or medium-wide shot showing \nthe full yard and house in background. Camera is NEVER closer than 5-6 meters \nfrom the man. The man should appear as a small-to-medium figure within the \ngrand scale of the property. Think luxury real estate drone footage — the \nPROPERTY is the hero, the man is the story element within it.\nPreferred shots:\n- Slow drone pull-back revealing the full property with man working in yard\n- Wide angle ground shot from far end of driveway showing man + full house\n- Elevated wide shot looking down into the yard showing the dig site + house behind\n- Tracking shot from 6-8 meters away following the man across the yard\nNEVER: extreme close-up on face, tight shoulder shot, selfie-style framing\n\nTHE MAN (never changes):\n- One unnamed middle-aged man, working alone\n- Dressed practically — work pants, simple shirt, boots\n- Never has a name, never speaks to camera directly in a social media way\n- Speaks naturally, quietly, to himself or reacting to what he is doing\n\nTHE UNDERGROUND PROJECT:\n- He is secretly digging and building a large underground basement/bunker \n  beneath his yard, hidden from family and neighbors\n- The hole/entrance is always in the yard, away from the main house\n- Each episode shows real physical progress: digging → reinforcing walls → \n  pouring concrete → installing doors → furnishing → finishing touches\n\nREQUIRED STRUCTURE for each prompt:\n\n[One single paragraph, 750-1500 characters, no line breaks, no headings]\n\nMain character: [same man description, consistent across episodes]\nThey say: [one quiet, natural line of dialogue fitting this episode's moment]\nThey [describe one specific physical action]\nTime of Day: always daytime, sunny, golden hour or midday\nLens: [wide angle, drone pull-back, elevated wide shot — NEVER close-up]\nAudio: [ambient sounds — birds, distant traffic, tools on earth, concrete mixer]\nBackground: [the large luxury house visible behind him, sunny yard, hills in distance]\n\nSTYLE REFERENCE: \nThink of the visual quality of luxury real estate videos mixed with \na documentary about a man doing something secretive.\n\nDO NOT:\n- Use overcast or cloudy sky — ALWAYS sunny\n- Show multiple workers — always ONE man alone  \n- Name the character\n- Include subtitles or text on screen\n- Break the paragraph or use formatting\n- Shoot close-up or tight on the man's face or upper body\n- Frame the man as the only subject filling the screen\n- Use selfie-style or vlog-style camera distance\n- Lose sight of the house and yard in the background"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1072,
        2096
      ],
      "id": "48c5542c-d970-4c71-bd8f-ff4ee8b1a004",
      "name": "Prompts AI Agent2"
    },
    {
      "parameters": {
        "description": "Use the tool to think about something."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        736,
        1712
      ],
      "id": "69558dd7-a817-4fe4-8c4c-7dd1aa8677eb",
      "name": "Think2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        1824
      ],
      "id": "8dff32f3-2ae9-461f-b8ae-d460dbf42cc4",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "SRoMn5qs8d7lguCY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Azerbaycan video generation",
        "height": 1376,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -288
      ],
      "typeVersion": 1,
      "id": "be3ae539-184e-4229-b6f7-1eda4c2ecc52",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Prompts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ideas AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts AI Agent": {
      "main": [
        [
          {
            "node": "Setting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompts AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Share on YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Prompts AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting1": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Story Arc Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Episodes into Items": {
      "main": [
        [
          {
            "node": "Save All Episodes to Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 min": {
      "main": [
        [
          {
            "node": "Vertex AI — Fetch Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Ready?": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1 min retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 min retry": {
      "main": [
        [
          {
            "node": "Vertex AI — Fetch Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Arc Agent1": {
      "main": [
        [
          {
            "node": "Episode Splitter Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Story Arc Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Episode Splitter Agent1": {
      "main": [
        [
          {
            "node": "Split Episodes into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Episode Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Episode Splitter Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save All Episodes to Sheet1": {
      "main": [
        [
          {
            "node": "Process One Episode at a Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One Episode at a Time1": {
      "main": [
        [],
        [
          {
            "node": "Prompts AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Episode Variables1": {
      "main": [
        [
          {
            "node": "Vertex AI — Veo3 Generate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI — Veo3 Generate1": {
      "main": [
        [
          {
            "node": "Wait 4 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI — Fetch Result1": {
      "main": [
        [
          {
            "node": "Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Upload to Drive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive1": {
      "main": [
        [
          {
            "node": "Process One Episode at a Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts AI Agent2": {
      "main": [
        [
          {
            "node": "Set Episode Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Story Arc Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Episode Splitter Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Prompts AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Story Arc Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Episode Splitter Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompts AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e511da51-f477-4de0-a447-b3cfa444858e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "PJ5QGa0sNJPHm3yE",
  "tags": []
}