ziya.json
{
  "name": "ziya",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        64
      ],
      "id": "9d7cb3d5-144f-4ca6-8008-8c4e69064c2e",
      "name": "Webhook",
      "webhookId": "627d2f80-e69b-42f3-875b-abe0da0b1909"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003079070256",
        "binaryData": "={{ true }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1200,
        64
      ],
      "id": "2781d0f3-652a-4887-812c-d91d2c2e364b",
      "name": "Telegram",
      "webhookId": "03d9bd8c-c538-4a80-9816-29f444735164",
      "credentials": {
        "telegramApi": {
          "id": "Px85zK2wXYu85ueH",
          "name": "erp"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp/reject",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        848
      ],
      "id": "02cbca48-7284-4d1d-aaee-9771476506fc",
      "name": "Webhook2",
      "webhookId": "30b63d64-a77d-42cc-8420-9386f96e0e13"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp/accept",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        1360
      ],
      "id": "127bd761-7b05-4e71-a617-d2d3aa5b72a4",
      "name": "Webhook1",
      "webhookId": "30b63d64-a77d-42cc-8420-9386f96e0e13"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003079070256",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -976,
        848
      ],
      "id": "baf9530a-26ca-4e51-bbd6-1a7d7f34e07e",
      "name": "Telegram2",
      "webhookId": "03d9bd8c-c538-4a80-9816-29f444735164",
      "credentials": {
        "telegramApi": {
          "id": "Px85zK2wXYu85ueH",
          "name": "erp"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003079070256",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1200,
        1360
      ],
      "id": "75993d90-7702-4b16-a215-cd743fbab385",
      "name": "Telegram3",
      "webhookId": "03d9bd8c-c538-4a80-9816-29f444735164",
      "credentials": {
        "telegramApi": {
          "id": "Px85zK2wXYu85ueH",
          "name": "erp"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "326f6728-6fdd-4f4d-ad55-bab6c2afdb45",
              "leftValue": "={{ $json.body.srf_priority_data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        848
      ],
      "id": "1633bd8d-d338-43bd-a6f6-ad0a83065b38",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.chaitech.info/api/layout-image.php?url=https://erp.chaitech.info&width=1200&height=400",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"{{ $json.body.srf_notes[0].note }}\",\n  \"note\": \"{{ $json.body.srf_data[0].qeyd }}\",\n\"first_name\": \"{{ $json.body.user_info.first_name }}\",\n\"document_number\": \"{{ $json.body.document_statuses[0].document_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_urgency_data[0].urgency_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_data[0].vaciblik }}\",\n\"priority\": \"{{ $json.body.srf_priority_data[0].priority }}\",\n\"priority\": \"{{ $json.body.srf_data[0].təcililik }}\",\n\"document_created_at\": \"{{ $json.body.document_statuses[0].document_created_at }}\",\n\"last_name\": \"{{ $json.body.user_info.last_name }}\",\n\"creator_name_nat\": \"{{ $json.body.srf_creators[0].creator_name_nat }}\",\n\"creator_surname_nat\": \"{{ $json.body.srf_creators[0].creator_surname_nat }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        64
      ],
      "id": "f5fd626c-0ec1-4fa5-8a6c-ccf65f0f71f2",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.chaitech.info/api/atf-image.php?width=1200&height=400",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"{{ $json.body.srf_notes[0].note }}\",\n\"first_name\": \"{{ $json.body.user_info.first_name }}\",\n\"document_number\": \"{{ $json.body.document_statuses[0].document_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_urgency_data[0].urgency_name }}\",\n\"priority\": \"{{ $json.body.srf_priority_data[0].priority }}\",\n\"document_created_at\": \"{{ $json.body.document_statuses[0].document_created_at }}\",\n\"last_name\": \"{{ $json.body.user_info.last_name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        848
      ],
      "id": "d02be90d-f2bf-4275-8068-c499e0c8238a",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.chaitech.info/api/erp-layout-image.php?url=https://erp.chaitech.info/api/erp-layout.php&width=1200&height=400",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"{{ $json.body.srf_notes[0].note }}\",\n\"first_name\": \"{{ $json.body.user_info.first_name }}\",\n\"document_number\": \"{{ $json.body.document_statuses[0].document_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_urgency_data[0].urgency_name }}\",\n\"priority\": \"{{ $json.body.srf_priority_data[0].priority }}\",\n\"document_created_at\": \"{{ $json.body.document_statuses[0].document_created_at }}\",\n\"last_name\": \"{{ $json.body.user_info.last_name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        1360
      ],
      "id": "f41778fe-0521-4ab9-a3cc-6d9919bd5b62",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prf/accept",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        -208
      ],
      "id": "b94d158b-c7fb-44dc-a725-41bd4227e62e",
      "name": "Webhook3",
      "webhookId": "850507c8-0986-4b41-b5be-101b2a4117c5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp/prod",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        320
      ],
      "id": "2fcdfe40-6f8f-41a8-9c2c-6a9ceb0f3315",
      "name": "Webhook4",
      "webhookId": "36efae4b-7bfe-447f-b760-0090754a4dd8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.chaitech.info/api/layout-image.php?url=https://erp.chaitech.info&width=1200&height=400",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"{{ $json.body.srf_notes[0].note }}\",\n  \"note\": \"{{ $json.body.srf_data[0].qeyd }}\",\n\"first_name\": \"{{ $json.body.user_info.first_name }}\",\n\"document_number\": \"{{ $json.body.document_statuses[0].document_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_urgency_data[0].urgency_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_data[0].vaciblik }}\",\n\"priority\": \"{{ $json.body.srf_priority_data[0].priority }}\",\n\"priority\": \"{{ $json.body.srf_data[0].təcililik }}\",\n\"document_created_at\": \"{{ $json.body.document_statuses[0].document_created_at }}\",\n\"last_name\": \"{{ $json.body.user_info.last_name }}\",\n\"creator_name_nat\": \"{{ $json.body.srf_creators[0].creator_name_nat }}\",\n\"creator_surname_nat\": \"{{ $json.body.srf_creators[0].creator_surname_nat }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        320
      ],
      "id": "1f285935-53d0-41c8-8332-95c120e45821",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003131862837",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1200,
        320
      ],
      "id": "faacfdb4-b56a-466b-a76e-55b9a4f092b1",
      "name": "prod1",
      "webhookId": "03d9bd8c-c538-4a80-9816-29f444735164",
      "credentials": {
        "telegramApi": {
          "id": "8TxPzJLxMhCDm9w7",
          "name": "prod"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp/reject/prod",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        592
      ],
      "id": "c7de62cf-459c-4417-880a-4dc50a91c013",
      "name": "Webhook5",
      "webhookId": "30b63d64-a77d-42cc-8420-9386f96e0e13"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp/accept/prod",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        1104
      ],
      "id": "c7d9c834-9b76-49b0-be75-3d962421e5f6",
      "name": "Webhook6",
      "webhookId": "30b63d64-a77d-42cc-8420-9386f96e0e13"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003079070256",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -976,
        592
      ],
      "id": "992d19a7-243e-47f8-afb4-0ba852d97d6d",
      "name": "Telegram5",
      "webhookId": "03d9bd8c-c538-4a80-9816-29f444735164",
      "credentials": {
        "telegramApi": {
          "id": "8TxPzJLxMhCDm9w7",
          "name": "prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "326f6728-6fdd-4f4d-ad55-bab6c2afdb45",
              "leftValue": "={{ $json.body.srf_priority_data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        592
      ],
      "id": "b0017675-391c-4a4d-a43c-c92137156adb",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.chaitech.info/api/atf-image.php?width=1200&height=400",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"{{ $json.body.srf_notes[0].note }}\",\n\"first_name\": \"{{ $json.body.user_info.first_name }}\",\n\"document_number\": \"{{ $json.body.document_statuses[0].document_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_urgency_data[0].urgency_name }}\",\n\"priority\": \"{{ $json.body.srf_priority_data[0].priority }}\",\n\"document_created_at\": \"{{ $json.body.document_statuses[0].document_created_at }}\",\n\"last_name\": \"{{ $json.body.user_info.last_name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        592
      ],
      "id": "434306c9-1edb-4c62-8ec8-f34e35225875",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003131862837",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1200,
        1104
      ],
      "id": "453af5f7-633b-4008-bbf3-80ffce1cf327",
      "name": "Telegram7",
      "webhookId": "03d9bd8c-c538-4a80-9816-29f444735164",
      "credentials": {
        "telegramApi": {
          "id": "8TxPzJLxMhCDm9w7",
          "name": "prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.chaitech.info/api/erp-layout-image.php?url=https://erp.chaitech.info/api/erp-layout.php&width=1200&height=400",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"{{ $json.body.srf_notes[0].note }}\",\n\"first_name\": \"{{ $json.body.user_info.first_name }}\",\n\"document_number\": \"{{ $json.body.document_statuses[0].document_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_urgency_data[0].urgency_name }}\",\n\"priority\": \"{{ $json.body.srf_priority_data[0].priority }}\",\n\"document_created_at\": \"{{ $json.body.document_statuses[0].document_created_at }}\",\n\"last_name\": \"{{ $json.body.user_info.last_name }}\",\n\"creator_name_nat\": \"{{ $json.body.srf_creators[0].creator_name_nat }}\",\n\"creator_surname_nat\": \"{{ $json.body.srf_creators[0].creator_surname_nat }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        1104
      ],
      "id": "1d570207-7af6-430f-a00b-1a2169ec76c8",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erp.chaitech.info/api/layout-image.php?url=https://erp.chaitech.info/api/prf.php&width=1200&height=400",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"note\": \"{{ $json.body.srf_notes[0].note }}\",\n  \"note\": \"{{ $json.body.srf_data[0].qeyd }}\",\n\"first_name\": \"{{ $json.body.user_info.first_name }}\",\n\"document_number\": \"{{ $json.body.document_statuses[0].document_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_urgency_data[0].urgency_name }}\",\n\"urgent_time\": \"{{ $json.body.srf_data[0].vaciblik }}\",\n\"priority\": \"{{ $json.body.srf_priority_data[0].priority }}\",\n\"priority\": \"{{ $json.body.srf_data[0].təcililik }}\",\n\"document_created_at\": \"{{ $json.body.document_statuses[0].document_created_at }}\",\n\"last_name\": \"{{ $json.body.user_info.last_name }}\",\n\"creator_name_nat\": \"{{ $json.body.srf_creators[0].creator_name_nat }}\",\n\"creator_surname_nat\": \"{{ $json.body.srf_creators[0].creator_surname_nat }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        -208
      ],
      "id": "14be6ab5-78ee-44a8-bb04-84915ae5aa64",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1003079070256",
        "binaryData": "={{ true }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1200,
        -208
      ],
      "id": "8b0de6b6-9019-406b-983d-c4ca12cc7d57",
      "name": "Telegram1",
      "webhookId": "03d9bd8c-c538-4a80-9816-29f444735164",
      "credentials": {
        "telegramApi": {
          "id": "Px85zK2wXYu85ueH",
          "name": "erp"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "prod1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Telegram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "859f6be1-f3d9-4c5f-9351-1c9c2398f74e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "593e34977fd61c5711a18860079cc9fe17f1b3f28a792d8ecaa23376abfe140b"
  },
  "id": "wa0xqHahDq0ARK56",
  "tags": []
}